@{
    Tag tag = ViewBag.Tag;
    ViewBag.Title = tag.Name;
    IEnumerable<Item> items = ViewBag.Items;
}
<article>
    <header>
        <h1>@tag.NiceName
        </h1>
    </header>
    @if (tag.PublicTrips.Any())
    {
        <section>
            <h2>
                Trips</h2>
            @{Html.RenderAction("_rows", "Trips", new { trips = tag.PublicTrips.OrderByDescending(t => t.Id).Take(5) });}
        </section>
    }
    @if (items.Any())
    {
        <section>
            <h2>
                Packing List</h2>
            <ul class="packing-list-items">
                @foreach (var item in items.Take(50))
                {
                    <li class="packing-list-item add-to-trip" data-type="packing-list-item" data-name="@item.Name" data-tag="@tag.Name" title="Click to add to trip">
                        <div class="name">
                            @item.Name
                        </div>
                    </li>
                }
            </ul>
        </section>
    }
    @if (!tag.PublicTrips.Any() && !items.Any())
    {
        <p>
            No trips or packing list items found.</p>
    }
</article>