@{
    Tag tag = (Tag)ViewBag.Tag;
    ViewBag.Title = tag.Name;
    var items = (IEnumerable<Item>)ViewBag.Items;
}
<div id="side-container">
    <a href="@Url.Details(tag)">Details</a>
</div>
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>@tag.NiceName
            </h1>
        </div>
        <div class="panel-content">
            <h2>
                Trips</h2>
            @if (tag.PublicTrips.Any())
            {
                Html.RenderAction("_rows", "Trips", new { trips = tag.PublicTrips });
            }
            else
            {
                <p>
                    No trips found.</p>
            }
            <h2>
                Packing List</h2>
            @if (items.Any())
            {
                <ul class="packing-list-items">
                    @foreach (var item in items)
                    {
                        <li class="packing-list-item">
                            @item.Name</li>
                    }
                </ul>
            }
            else
            {
                <p>
                    No items found.</p>
            }
        </div>
    </div>
</div>
