@{
    Tag tag = (Tag)ViewBag.Tag;
    ViewBag.Title = tag.Name;
    var packingListItemGroups = tag.PackingListItems.Public().GroupedAndOrderedByCountDesc().Take(20);
}
<div id="side-container">
    <a href="@Url.Details(tag)">Details</a>
</div>
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>@tag.NiceName
            </h1>
        </div>
        <div class="panel-content">
            <h2>
                Trips</h2>
            @if (tag.PublicTrips.Any())
            {
                Html.RenderAction("_rows", "Trips", new { trips = tag.PublicTrips });
            }
            else
            {
                <div>
                    No trips found</div>
            }
            @if (packingListItemGroups.Any())
            {
                <h2>
                    Packing List</h2>
                <ul class="packing-list-items">
                    @foreach (var group in packingListItemGroups)
                    {
                        <li class="packing-list-item">
                            @group.Key</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
