@{
    Tag tag = ViewBag.Tag;
    ViewBag.Title = tag.NiceName + " Trips & Vacations";
    IEnumerable<Item> items = ViewBag.Items;
    TripSearchForm tripSearchForm = new TripSearchForm(tag: tag);
    User currentUser = ViewBag.CurrentUser;
}
<article>
    <header>
        <h1>@tag.NiceName
        </h1>
    </header>
    @if (tripSearchForm.Results.Any())
    {
        <section>
            <h2>
                Trips</h2>
            @Html.Action("SearchResults", "Trips", new { form = tripSearchForm })
        </section>
    }
    @if (items.Any())
    {
        <section>
            <h2>
                Packing List</h2>
            @Helpers.ItemList(tag, currentUser)
        </section>
    }
    @if (!tripSearchForm.Results.Any() && !items.Any())
    {
        <p style="margin: 20px;">
            No trips or packing list items found.</p>
    }
</article>