@{
    IEnumerable<ItemTag> itemTags = ViewBag.ItemTags;
    int take = ViewBag.Take;
}
<h1>
    Item Tags</h1>
<h2>
    Create</h2>
@AdminHelpers.CreateItemTag(Url)
<h2>
    Not Moderated</h2>
@AdminHelpers.ItemTagTable(Url, itemTags.Where(it => !it.ModeratedOnUTC.HasValue).OrderBy(it => it.Id).Take(take))
<h2>
    Recently Moderated</h2>
@AdminHelpers.ItemTagTable(Url, itemTags.Where(it => it.ModeratedOnUTC.HasValue).OrderByDescending(it => it.ModeratedOnUTC).Take(take))
