/* Html Tags */
body { background: #498EC3; font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-size: 13px; margin: 0; background-color: #000000; }
h1, h2, h3, h4, h5 { margin: 0; padding: 0; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; }
h1 { font-size: 24px; }
a, a:visited, a:hover, .link { color: #0077CC; text-decoration: none; cursor: pointer; }
a:hover, .link:hover { text-decoration: underline; }
a:focus { text-decoration: underline; outline: none; }
img { border: none; }
table { width: 100%; }
td { vertical-align: top; padding: 0; }

/* Admin */
.admin #content { background-color: #FFF; padding: 10px; }
.admin #content tr:nth-child(odd) { background-color: #EEE; }
.admin h2 { margin: 10px 0; }

/* Utilities */
.clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
.placeholder { font-weight: normal !important; color: #666666 !important; }
input.day-input { width: 30px; }

/* Form Defaults */
input[type="text"] { font-size: 14px; }
input[type="submit"] { font-size: 14px; padding: 5px; border: none; color: #FFFFFF; background-color: #0190E9; cursor: pointer; }

/* Panel Form Defaults */
.panel form .field-validation-error { display: block; padding: 5px; background-color: #E92553; color: #FFF; font-weight: bold; margin-bottom: 11px; font-size: 12px; line-height: 20px; }
.panel form label { display: block; float: left; width: 100px; line-height: 33px; font-size: 16px; clear: both; }
.panel form span { line-height: 33px; font-size: 16px; }
.panel form input[type="checkbox"] { margin: 10px 0; }
.panel form input[type="text"] { font-size: 18px; font-weight: bold; color: #666666; width: 330px; padding: 5px; margin-right: 10px; }
.panel form input[type="password"] { font-size: 18px; font-weight: bold; color: #666666; width: 330px; padding: 5px; margin-right: 10px; }

/* Background - parts also defined in layout */
#background { -moz-user-select: none; left: 0; min-height: 950px; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: -1; }
#background img { left: 0; min-width: 1600px; position: absolute; top: 0; width: 100%; z-index: -2; }
#background .fader { height: 100%; left: 0; position: absolute; width: 100%; z-index: 0; }
.fader { height: 420px; left: 0; position: fixed; width: 100%; z-index: -1; }

/* Header */
#header-container { background-color: #262626; z-index: 5; }

#header { width: 955px; margin: 0 auto; font-size: 13px; overflow: hidden; }
#email-warning { background-color: #FE9FAA; font-size: 14px; text-align: center; padding: 3px; color: #000; font-weight: bold; -moz-border-radius: 4px; margin-top: 3px; }
#logo { float: left; font-weight: bold; font-size: 22px; color: #FFF; letter-spacing: 1px; margin-top: -10px; padding: 15px 10px 5px 10px; -moz-border-radius: 0 0 7px 7px; background: -moz-linear-gradient(top,  #39B3FE,  #0190E9); }

/* Search */
#search { float: right; margin: 10px 10px 10px 30px; }
#search form { -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); }
#search input[type="text"] { font-size: 16px; padding: 4px; border: none; width: 200px; }
#search input[type="submit"] { font-size: 16px; padding: 6px; background-color: #E9BA26; border: none; color: #FFFFFF; margin-left: -6px; }

/* User status */
#user-status { color: #FFFFFF; float: right; text-align: right; margin: 10px; }
#user-status a, #user-status a:visited { color: #66C3FE; }
#user-status-header { margin-bottom: 5px; color: #8A8A8A; }
#user-status-header a { font-weight: bold; font-size: 13px; }
#user-status #start-here-link { font-size: 12px; font-weight: normal; }
#user-status-menu { font-size: 12px; font-weight: normal; }
#user-status-menu a { padding-left: 5px; margin: 0; }
#user-status-menu a + a { border-left: 1px solid #8A8A8A; margin-left: 5px; }

/* Tripbar */
#trip-bar-container { z-index: 5; margin-top: 10px; }
#trip-bar-container.at-top { position: fixed; top: 0; left: 0; right: 0; background-color: #262626; margin: 0; }
#trip-bar { width: 935px; padding: 10px; margin: 0 auto 0 auto; background-color: rgba(38, 38, 38, 0.85); -moz-border-radius: 7px; }
#trip-bar #create-trip-form { margin-top: 5px; }
#trip-bar-title { color: #FFFFFF; display: inline; font-size: 24px; font-weight: bold; }
#trip-bar-pre-title { color: #BBB; }

#trip-bar-menu { float: right; clear: both; }
#trip-bar-menu a, #trip-bar-menu .link { color: #66C3FE; padding: 5px 20px; margin: 0; display: block; }
#trip-bar-menu a:hover, #trip-bar-menu .link:hover { text-decoration: none !important; }
#trip-bar-menu a span { color: #BBB; font-weight: normal; display: block; padding: 5px 15px 15px 15px; font-size: 14px; }
#trip-bar-menu a span strong { color: #FFF; font-weight: normal; letter-spacing: 1.5px; }
#trip-bar-menu li:hover { background-color: #333; }
#trip-bar-menu li li:hover { background-color: #444; }
#trip-bar-menu > ul { margin: 5px 0; padding: 0; list-style: none; font-size: 20px; font-weight: bold; }
#trip-bar-menu > ul > li { float: left; }
#trip-bar-menu > ul > li + li { border-left: 3px solid #FFF; }
#trip-bar-menu > ul ul { display: none; position: absolute; margin-left: -175px; list-style: none; font-size: 14px; padding: 10px; background-color: inherit; z-index: 2; }
#trip-bar-menu > ul ul a { padding: 15px 10px 0 15px !important; }
#trip-bar-menu > ul ul li + li { border-top: 1px solid #555; }

#super-dialog { visibility: hidden; position: absolute; z-index: 5; width: 600px; margin: 20px 0 0 325px; color: #FFF; padding: 10px; height: 200px; background-color: #262626; -moz-border-radius: 10px; }

/* Page Sections */
#content { width: 955px; margin: 10px auto; clear: both; }

#side-container { float: left; width: 220px; margin-top: 50px; text-transform: lowercase; }
#side-container a { margin-bottom: 10px; background-color: #E9BA26; padding: 10px; display: block; font-weight: bold; color: #000000; font-size: 16px; -moz-border-radius: 4px; }
#main-container { float: left; width: 710px; margin-left: 25px; }

.panel { -moz-border-radius: 6px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); background-color: #FFFFFF; overflow: hidden !important; }
.panel + .panel { margin-top: 10px; }
.panel h2 { color: #262626; font-size: 22px; padding: 10px 10px 0 10px; text-transform: lowercase; }

.panel-title { background-color: #E9BA26; padding: 15px; -moz-border-radius: 5px 5px 0 0; overflow: auto; }
.panel-title h1 { float: left; }
.panel-title a, .panel-title .link { float: right; background-color: #FFFFFF; padding: 5px; display: block; font-weight: bold; font-size: 16px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); -moz-border-radius: 5px; }
.panel-header { background-color: #F3ECB7; padding: 15px; -moz-border-radius: 5px 5px 0 0; }
.panel-header h2 { padding: 10px 0; }

.panel-alert { padding: 10px; background-color: #FE9FAA; font-weight: bold; text-align: center; font-size: 16px; }

.panel-content { padding: 10px; }
.panel-content-not-padded { }

/* Landing Page */
#landing-page-panel-container { width: 955px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.85); -moz-border-radius: 7px; padding-bottom: 40px; }
#landing-page-panel { margin: 10px 20px; padding: 20px 0; }
#landing-page-panel h1 { font-size: 40px; margin: 0 0 30px 0; color: #0190E9; }
#landing-page-panel h2 { font-size: 22px; margin: 20px 0 20px 0; }
#landing-page-panel h3 { font-size: 24px !important; color: #333; }
#landing-page-panel > p { color: #333; font-size: 17px; line-height: 1.5; margin: -10px 0 0 0; }
#landing-page-panel ul { margin: 0; padding-left: 40px; }
#landing-page-panel ul li { font-size: 16px; margin: 10px 0; }
#landing-page-panel #trips { margin: 50px auto; width: 800px; overflow: auto; background-color: rgba(243, 236, 183, 0.30); }
#landing-page-panel #trips .panel-title { padding: 5px; }
#landing-page-panel #trips .panel-title h2 { margin: 0; }
#landing-page-panel .trip-row { float: left; width: 388px; height: 80px; overflow: hidden; border-top: 1px dashed #CCCCCC; }

/* Footer */
#footer { width: 955px; height: 300px; }


/* Dialogs */
.ui-dialog { background: none; padding: 0; -moz-border-radius: 6px; -moz-box-shadow: 0px 0px 80px rgba(0, 0, 0, 1); background-color: #FFFFFF; }
.ui-dialog-titlebar { background: none; background-color: #E9BA26; border: none; -moz-border-radius: 5px 5px 0 0; padding: 15px !important; font-size: 14px; }
.ui-dialog-content { overflow: visible !important; padding: 20px !important; }
.ui-dialog-buttonpane { border: none !important; margin: 0 !important; padding: 15px !important; }
.ui-widget-overlay { opacity: 0.5; }

.transportation-dialog form { padding: 0 !important; }
.transportation-dialog form p { background-color: #EEE; border-bottom: 1px solid #CCC; margin: 0; padding: 10px 15px !important; }
.transportation-dialog form label { display: block; float: left; width: 50px; }
.transportation-dialog form input.destination-autocomplete { width: 300px; }

.website-dialog form { padding: 0 !important; }
.website-dialog form p { background-color: #EEE; border-bottom: 1px solid #CCC; margin: 0; padding: 10px 15px !important; }
.website-dialog form label { display: block; float: left; width: 100px; }
.website-dialog form #url { width: 300px; }

.hotel-dialog form { padding: 0 !important; }
.hotel-dialog form p { background-color: #EEE; border-bottom: 1px solid #CCC; margin: 0; padding: 10px 15px !important; }
.hotel-dialog form label { display: block; float: left; width: 60px; }

.place-dialog { width: 600px !important; }
.place-dialog form { padding: 0 !important; }
.place-dialog form p { background-color: #EEE; border-bottom: 1px solid #CCC; margin: 0; padding: 10px 15px !important; }
.place-dialog form label { display: block; float: left; width: 70px; }

.place-dialog .place-map-container { float: right; width: 300px; margin: 10px 10px 0 0; border: 1px solid #CCC; }
.place-dialog .place-map { height: 180px; background-color: #EEE; }
.place-dialog .place-map-caption { padding: 3px; font-size: 12px; text-align: center; background-color: #4DBAFE; color: #FFF; }

.destination-tag-dialog form { padding: 0 !important; }
.destination-tag-dialog form p { background-color: #EEE; border-bottom: 1px solid #CCC; margin: 0; padding: 10px 15px !important; }
.destination-tag-dialog form label { display: block; float: left; width: 120px; }
.destination-tag-dialog form input.destination-autocomplete { width: 280px; }

/* Create Trip Form */
#create-trip-form label { width: 150px; }
#create-trip-form input[type="text"] { width: 400px; font-size: 18px; }
#create-trip-form #numberofdays { width: 40px; }

#landing-page-panel #create-trip-form { float: right; background-color: rgba(0, 130, 210, 0.5); padding: 20px; margin: 0 20px 20px 30px; -moz-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.8); }
#landing-page-panel #create-trip-form h3 { font-size: 18px; margin-bottom: 15px; }
#landing-page-panel #create-trip-form input[type="text"] { width: 300px; }
#landing-page-panel #create-trip-form label { width: 110px; float: left; display: block; font-weight: bold; line-height: 26px; }
#landing-page-panel #create-trip-form #numberofdays { width: 30px; }

#trip-bar #create-trip-form p { display: inline; margin-right: 10px; }
#trip-bar #create-trip-form input[type="text"] { width: 250px; }
#trip-bar #create-trip-form label { color: #FFF; }
#trip-bar #create-trip-form #numberofdays { width: 30px; }

/* Trip Settings Form */
#trip-settings-form label { width: 140px; }
#trip-settings-form input[type="text"] { width: 400px; }

/* Hotel Details */
#hotel-details-map-container { width: 400px; height: 220px; }
#hotel-details-related-trips { clear: both; }

/* Hotel Rows */
.hotel-rows { clear: both; }
.hotel-row { font-weight: bold; padding: 5px; overflow: auto; }
.hotel-row + .hotel-row { border-top: 1px dashed #CCCCCC; }
.hotel-row-photo { float: left; }
.hotel-row-body { float: left; }
.hotel-row-title { font-size: 16px; line-height: 70px; padding: 15px; }
.hotel-photo { -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); }

/* My Trips */
.my-trip-row { display: block; padding: 15px; font-size: 16px; }
.my-trip-row span { font-weight: bold; padding-right: 15px; }
.my-trip-row + .my-trip-row { border-top: 1px dashed #CCCCCC; }

/* Trip Row */
.trip-rows { clear: both; }
.trip-row { padding: 5px; overflow: auto; }
.trip-row p { margin: 5px 0; }
.trip-row + .trip-row { border-top: 1px dashed #CCCCCC; }
.trip-row-photo { float: left; }
.trip-row-body { float: left; margin-left: 10px; }
.trip-row-title { font-weight: bold; font-size: 16px; display: block; margin-top: 2px; }
.trip-row-map-link { display: inline; background-image: url("/static/icons/map.png"); background-repeat: no-repeat; background-position: 3px 3px; padding: 4px 6px 4px 24px; }
.trip-row-map-link:hover { background-color: #AAA; -moz-border-radius: 3px; color: #FFF; }
.trip-map-dialog-link { display: block; }

/* Destinations */
#destination-details-map-container { width: 100%; height: 300px; }

.search-form-section { float: left; text-align: center; }
.search-form-section + .search-form-section { margin-left: 20px; }

#search-form { font-weight: bold; color: #666; font-size: 14px; overflow: auto; }
#search-form .ui-slider { margin-left: 10px; margin-bottom: 10px; margin-top: 5px; width: 200px; }
#search-form input[type="text"] { font-size: 14px; }

#place-search-form { font-weight: bold; color: #666; font-size: 14px; overflow: auto; }
#place-search-form .ui-slider { margin-left: 10px; margin-bottom: 10px; margin-top: 5px; width: 200px; }
#place-search-form input[type="text"] { font-size: 14px; }

/*#trip-search-form { font-weight: bold; color: #666; font-size: 14px; overflow: auto; }
#trip-search-form .distance-slider { width: 200px; }
#trip-search-form .trip-length-slider { width: 200px; }
#trip-search-form .ui-slider { margin-bottom: 10px; margin-top: 5px; }*/

/* Tags */
.tags { }
.tags .tag { padding: 10px; }
.tags .tag + .tag { border-top: 1px dashed #CCCCCC; }

/* Cities */
.cities { }
.cities .city { padding: 10px; }
.cities .city + .city { border-top: 1px dashed #CCCCCC; }

/* Places */
.place { padding: 5px; }
.place + .place { border-top: 1px dashed #CCCCCC; }
.place-name { font-size: 16px; }

/* Trips */
.trips.details #trip-map-container { width: 100%; height: 200px; margin-bottom: 10px; }
.trips.details .trip-day { min-height: 25px; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); margin-bottom: 10px; }
.trips.details .trip-day > h3 { padding: 3px 6px; background: #4DBAFE; color: #FFF; }
.trips.details .activity > .title { color: #333; margin: 10px; font-weight: bold; }
.trips.details .activity { overflow: auto; cursor: pointer; }
.trips.details .activity:hover { background-color: #EEE; }
.trips.details .activity + .activity { border-top: 1px dashed #4DBAFE; }
.trips.details .activity img { float: right; margin: 10px; }

.trips.map #trip-map-container { width: 100%; height: 500px; }


/* Packing List */

.trips.packinglist #content ul { list-style: none; }
.trips.packinglist #content .tag-group + .tag-group { margin-top: 20px; }
.trips.packinglist #content .tag-group .title { font-weight: bold; font-size: 16px; }
.trips.packinglist #content .items { overflow: auto; }
.trips.packinglist #content .items li { float: left; border: 1px solid #EEE; text-align: center; margin: 10px; }
.trips.packinglist #content .items li .name { padding: 5px 5px 10px 5px; display: block; }
