@{
    ViewBag.Title = ViewBag.Hotel.BaseItem.Name;
}
<h1>@ViewBag.Hotel.BaseItem.Name</h1>
<a href="@Url.AddBaseItemToItinerary((BaseItem)ViewBag.Hotel.BaseItem)">Add to Trip</a>
<br />
<br />
<br />
<br />
<br />
<br />
<h2>
    Trips to this hotel</h2>
@foreach (Trip trip in ViewBag.Hotel.BaseItem.Trips)
{
    <div>
        <a href="@Url.PublicDetails(trip)">@trip.Name</a>
    </div>
}