@{
    ViewBag.Title = "Hotels";
}
<h2>
    Hotels</h2>
@foreach (ExpediaHotel hotel in ViewBag.Hotels)
{
    <div>
        <a href="@Url.HotelDetails(hotel)">@hotel.BaseItem.Name</a>
    </div>
}
