@{
    ViewBag.Title = "Index";
    IEnumerable<Trip> trips = (IEnumerable<Trip>)ViewBag.Trips;
}
<div class="panel">
    <div class="panel-title">
        <h1>
            Trips</h1>
    </div>
    <div class="panel-content">
        <h2>
            Unmoderated</h2>
        @foreach (Trip trip in trips.Where(t => !t.Moderated).OrderBy(t => t.Created_On))
        {
            <div>
                <a href="@Url.Admin(trip)">@trip.Name</a>
            </div>
        }
        <h2>
            Moderated</h2>
        @foreach (Trip trip in trips.Where(t => t.Moderated).OrderByDescending(t => t.Created_On))
        {
            <div>
                <a href="@Url.Admin(trip)">@trip.Name</a>
            </div>
        }
    </div>
</div>
