@{
    ViewBag.Title = "AmazonItems";
    var Items = (IEnumerable<AmazonItem>)ViewBag.Items;
}
<div class="panel">
    <div class="panel-title">
        <h1>
            Admin - AmazonItems</h1>
    </div>
    <div class="panel-content">
        @foreach (var item in Items)
        {
            <div>
                <a href="@Url.Admin(item)">@item.Name</a> - @item.Tags.Count() tags
            </div>
        }
    </div>
</div>
