@{
    ViewBag.Title = "Tags";
    var tags = (IEnumerable<Tag>)ViewBag.Tags;
}
<div class="panel">
    <header>
        <h1>
            Admin - Tags</h1>
    </header>
    <div class="panel-content">
        @foreach (var tag in tags)
        {
            <div>
                <a href="@Url.Admin(tag)">@tag.Name</a> - @tag.Items.Count() items
            </div>
        }
    </div>
</div>
