@{
    ViewBag.Title = "Trips";
    Trip trip = (Trip)ViewBag.Trip;
    ViewBag.HideTripBar = true;
}
<div class="panel">
    <header>
        <h1>
            Admin</h1>
    </header>
    <div class="panel-content">
        <form action="@Url.Admin(trip)" method="post">
        @Html.Editor("trip", ViewData)
        <input type="submit" value="Save" />
        </form>
    </div>
</div>
<div class="panel">
    <header>
        <h1>
            @ViewBag.Trip.Name
        </h1>
    </header>
    @*<div class="panel-content">
        @for (int i = 1; i <= ViewBag.Trip.TotalDays; i++)
        {
            Html.RenderAction("daydetails", "trips", new { trip = (Trip)ViewBag.Trip, dayNumber = i });
        }
    </div>*@
</div>
