@{
    ViewBag.Title = "Trips";
    Trip trip = (Trip)ViewBag.Trip;
}
<div class="panel">
    <header>
        <h1>
            Admin</h1>
    </header>
    <div class="panel-content">
        <form action="@Url.Admin(trip)" method="post">
        @Html.Editor("trip", ViewData)
        <input type="submit" value="Save" />
        </form>
    </div>
</div>
<div class="panel">
    <header>
        <h1>
            @ViewBag.Trip.Name
        </h1>
    </header>
</div>
