<form>
<label>
    I'm looking for
</label>
<input type="text" name="search" placeholder="tourist attractions, etc. " />
<label>
    near
</label>
<input type="text" name="near" placeholder="paris, vegas, etc." />
<input type="submit" value="Search" class="medium blue button" />
</form>
<div class="places">
    <ul class="place-list">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="map">
    </div>
</div>
<div class="buttons">
    <button class="large green button selection">
    </button>
</div>
