<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="Db" connectionString="Data Source=localhost;Initial Catalog=Triptitude;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="LuceneDestinationsIndexPath" value="C:\Source\Triptitude\LuceneIndexes\Destinations"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
