<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
    </configSections>
    <appSettings>

        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="RootUrl" value="http://localhost:50025/" />
        <add key="CutyCaptPath" value="C:\Source\TriptitudeTools\CutyCapt.exe" />
        <add key="StaticFolderUrl" value="/Static" />
        <add key="PostmarkAPIKey" value="64c315f5-01b5-41fd-9475-b09022d5d3ce" />
        <add key="FactualServerKey" value="S62LSA4YLEASw2sTbVuODVzuZebW0lxLrQpXD1t3G3wghVefPRPd6UcCugWSNGWf" />
        <add key="GoogleAPIKey" value="AIzaSyDVj9QOzWUBOVDjXp49bKkEsCf6UTblvVg" />

        <add key="AWSAccessKeyId" value="AKIAI2Y2EHAZC37EHMOQ" />
        <add key="AWSSecretKey" value="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" />
        <add key="AmazonAssociateTag" value="triptitude-20" />
        <add key="amazonSecurityNamespace"  value="http://security.amazonaws.com/doc/2007-01-01/" />

    </appSettings>
    <connectionStrings>
        <add name="Db" connectionString="Data Source=localhost;Initial Catalog=Triptitude_ActivityBranch;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <elmah>
        <errorMail from="triptitude@gmail.com" to="triptitude+dev@gmail.com" subject="Exception" async="true" smtpPort="0" useSsl="true" />
    </elmah>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/login" timeout="2880" />
        </authentication>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <customErrors mode="RemoteOnly" defaultRedirect="/" />
        <httpModules>
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
        </httpModules>
        <httpHandlers>
            <!--<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />-->
        </httpHandlers>
        <anonymousIdentification enabled="true" cookieTimeout="1051897" />
    </system.web>
    <system.web.webPages.razor>
        <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <pages pageBaseType="System.Web.Mvc.WebViewPage">
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="Triptitude.Web.Helpers" />
                <add namespace="Triptitude.Biz.Models" />
                <add namespace="Triptitude.Biz.Forms" />
                <add namespace="Triptitude.Biz.Extensions" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
        </modules>
        <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
        <rewrite>
            <rules>
                <!--See: http://blog.stackoverflow.com/2008/06/dropping-the-www-prefix/-->
                <rule name="Add WWW prefix" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^triptitude\.com" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.triptitude.com/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <!--<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />-->
        </handlers>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="smtp.gmail.com" port="587" userName="triptitude@gmail.com" password="J7omV4w37UMQ9" />
            </smtp>
        </mailSettings>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true" />
        </settings>
    </system.net>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <extensions>
            <behaviorExtensions>
                <add name="signingBehavior" type="Amazon.PAAPI.WCF.AmazonSigningBehaviorExtensionElement, Amazon.PAAPI.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <endpointBehaviors>
                <behavior name="amazonEndpointBehavior">
                    <signingBehavior accessKeyId="AKIAI2Y2EHAZC37EHMOQ" secretKey="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" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="AWSECommerceServiceBindingNoTransport" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="AWSECommerceServiceBindingTransport" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ecs.amazonaws.com/onca/soap?Service=AWSECommerceService"
              binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBindingTransport" behaviorConfiguration="amazonEndpointBehavior"
              contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
        </client>
    </system.serviceModel>
</configuration>