#editor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 8675310;
  background-color: rgba(242, 242, 242, 0.7); }

#editor-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 960px;
  margin: 60px auto 0 auto;
  z-index: 8675311; }

#editor-close {
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 8675312;
  cursor: pointer;
  font-family: Tahoma,Arial,sans-serif;
  font-size: 22px;
  height: 22px;
  width: 22px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  color: #FFF;
  background-color: #A00;
  border: 2px solid #700;
  box-shadow: 1px 1px 5px #888;
  border-radius: 50px;
  display: block; }

#editor {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #FFF;
  margin: 0;
  border: 5px dashed #AAA;
  zoom: 1;
  position: relative; }
  #editor:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #editor:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #editor > .close {
    position: absolute;
    border: 1px solid #999;
    right: 0;
    margin: 10px;
    height: 15px;
    width: 15px;
    text-align: center;
    cursor: pointer; }
  #editor > header {
    background-color: #E9BA26; }
    #editor > header h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 55px;
      margin: 0 0 0 10px;
      padding: 0; }
  #editor .tab-container {
    zoom: 1;
    max-height: 500px;
    overflow: auto; }
    #editor .tab-container:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #editor .tab-container:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
  #editor ul {
    list-style: none;
    padding: 0;
    margin: 0; }

#editor-itinerary {
  zoom: 1;
  overflow: hidden; }
  #editor-itinerary:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #editor-itinerary:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }

#editor-itinerary .activity-list {
  float: left;
  width: 250px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden; }
  #editor-itinerary .activity-list .activity {
    background-color: #EEE;
    padding: 15px;
    position: relative; }
    #editor-itinerary .activity-list .activity h4 {
      margin: 0;
      font-size: 12px;
      font-weight: normal; }
    #editor-itinerary .activity-list .activity.selected {
      background-color: #0190E9; }
    #editor-itinerary .activity-list .activity:hover {
      background-color: #0190E9;
      cursor: pointer; }
  #editor-itinerary .activity-list .date {
    background-color: #F3ECB7;
    padding: 3px 15px; }
  #editor-itinerary .activity-list .sort-placeholder {
    height: 50px;
    background-color: #66C3FE; }
  #editor-itinerary .activity-list .ui-sortable-helper {
    opacity: 0.8; }
  #editor-itinerary .activity-list li + li {
    border-top: 1px dashed #AAA; }

#editor-itinerary .activity-form {
  zoom: 1;
  float: right;
  width: 660px;
  padding-right: 20px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden; }
  #editor-itinerary .activity-form:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #editor-itinerary .activity-form:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #editor-itinerary .activity-form label {
    width: 70px;
    display: block;
    float: left;
    text-align: right;
    padding: 3px 10px 3px 0;
    margin: 2px 0;
    color: #555; }
  #editor-itinerary .activity-form > div {
    zoom: 1;
    margin: 15px 0; }
    #editor-itinerary .activity-form > div:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #editor-itinerary .activity-form > div:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    #editor-itinerary .activity-form > div.title {
      margin-bottom: 30px; }
      #editor-itinerary .activity-form > div.title label {
        float: none;
        display: inline;
        width: auto; }
      #editor-itinerary .activity-form > div.title input {
        width: 100%;
        display: block;
        font-size: 28px; }
    #editor-itinerary .activity-form > div.when input {
      width: 100px;
      margin-right: 8px; }
    #editor-itinerary .activity-form > div.tags input {
      width: 550px; }
    #editor-itinerary .activity-form > div.source-url input {
      width: 550px; }
    #editor-itinerary .activity-form > div.places > ul {
      float: left; }
      #editor-itinerary .activity-form > div.places > ul > li {
        margin: 5px 0; }
    #editor-itinerary .activity-form > div.notes label {
      float: none;
      display: inline;
      width: auto; }
    #editor-itinerary .activity-form > div.notes > ul > li {
      margin: 5px 0; }
      #editor-itinerary .activity-form > div.notes > ul > li .who {
        float: left;
        background-color: #999;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 0 2px;
        margin-right: 5px;
        color: #FFF; }
  #editor-itinerary .activity-form .buttons {
    clear: both;
    margin-top: 100px; }
  #editor-itinerary .activity-form .msg.success {
    background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #529214;
    padding: 15px;
    font-size: 16px;
    float: left;
    margin: 10px 0; }
  #editor-itinerary .activity-form .msg.error {
    background: #FBE3E4;
    border: 1px solid #FBC2C4;
    color: #D12F19;
    padding: 15px;
    font-size: 16px;
    float: left;
    margin: 10px 0; }
