@import "Mixins.scss";

#editor-overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 8675310; background-color: rgba(242,242,242,0.7); }
#editor-container { position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 960px; margin: 60px auto 0 auto; z-index: 8675311; }
#editor-close { position: absolute; right: -8px; top: -8px; z-index: 8675312; cursor: pointer; font-family: Tahoma,Arial,sans-serif; font-size: 22px; height: 22px; width: 22px; line-height: 21px; text-align: center; font-weight: bold; font-style: normal; color: #FFF; background-color: #A00; border: 2px solid #700; box-shadow: 1px 1px 5px #888; border-radius: 50px; display: block; }

#editor {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; background-color: #FFF; margin: 0; border: 5px dashed #AAA;
	@include clearfix; position: relative;
	> .close { position: absolute; border: 1px solid #999; right:0; margin: 10px; height: 15px; width: 15px; text-align: center; cursor: pointer; }
	> header {
		background-color: #E9BA26;
		h1 { font-size: 24px; font-weight: bold; line-height: 55px; margin: 0 0 0 10px; padding: 0; }
	}
	.tab-container { @include clearfix; max-height: 536px; overflow: hidden; }
	ul { list-style: none; padding: 0; margin: 0; }
}


#editor-itinerary {
	@include clearfix; overflow: hidden;
	> .add-activity { float: left; width: 250px; height: 36px; line-height: 36px; border-right: 1px solid #CCC; text-align: center; background-color: #999; cursor: pointer; }
}
#editor-itinerary .activity-list {
	float: left; clear: left; width: 250px; height: 500px; overflow-y: auto; overflow-x: hidden; border-right: 1px solid #CCC;
	.activity {
		background-color: #EEE; padding: 15px; position: relative;
		h4 { margin: 0; font-size: 12px; font-weight: normal; }
		&.selected { background-color: #0190E9; }
		&:hover { background-color: #0190E9; cursor: pointer; }
	}
	.date {
		background-color: #F3ECB7; padding: 3px 15px; cursor: move;
		.add-activity { cursor: pointer; float: right; text-align: center; background-color: #999; border-radius: 99px; width: 16px; height: 16px; line-height: 16px; }
	}
	.sort-placeholder {
		height: 50px; background-color: #66C3FE;
	}
	.ui-sortable-helper { opacity: 0.8; }
	li + li { border-top: 1px dashed #AAA; }
}

#editor-itinerary .activity-form {
	@include clearfix; float: right; width: 660px; padding-right: 20px; height: 536px; overflow-y: auto; overflow-x: hidden;
	label { width: 70px; display: block; padding: 3px 10px 3px 0; margin: 2px 0; color: #555; }
	> div {
		@include clearfix; margin-bottom: 10px;
		&.title {
			input { width: 100%; display: block; font-size: 36px; }
		}
		&.when {
			input { width: 150px; margin-right: 8px; font-size: 24px; }
		}
		&.source-url {
			input { width: 550px; }
		}
		&.notes {
			textarea { width: 550px; height: 50px; }
			> ol {
				> li {
					padding: 3px 0;
					.when { float: right; }
					.who {
						&:after { content: ': '; }
					}
					.text { display: inline; }
					& + li { border-top: 1px solid #F0F0F0; }
				}
			}
		}
	}
	.buttons { clear: both; margin-top: 20px; }
	.msg.success { background-color: #E6EFC2; border: 1px solid #C6D880; color: #529214; padding: 15px; font-size: 16px; float: left; margin: 10px 0; }
	.msg.error { background: #FBE3E4; border: 1px solid #FBC2C4; color: #D12F19; padding: 15px; font-size: 16px; float: left; margin: 10px 0; }
}