@import "Mixins.scss";

#editor-overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 8675310; background-color: rgba(242,242,242,0.7); }
#editor-container { position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 960px; margin: 60px auto 0 auto; z-index: 8675311; }
#editor-close { position: absolute; right: -8px; top: -8px; z-index: 8675312; cursor: pointer; font-family: Tahoma,Arial,sans-serif; font-size: 22px; height: 22px; width: 22px; line-height: 21px; text-align: center; font-weight: bold; font-style: normal; color: #FFF; background-color: #A00; border: 1px solid #700; box-shadow: 1px 1px 5px #888; border-radius: 50px; display: block; }

#editor {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; background-color: #FFF; margin: 0; border: 5px dashed #AAA;
	@include clearfix; position: relative;
	> .close { position: absolute; border: 1px solid #999; right:0; margin: 10px; height: 15px; width: 15px; text-align: center; cursor: pointer; }
	> header {
		background-color: #E9BA26;
		h1 { font-size: 24px; font-weight: bold; line-height: 55px; margin: 0 0 0 10px; padding: 0; }
	}
	.tab-container { @include clearfix; max-height: 500px; overflow: auto; }
	ul { list-style: none; padding: 0; margin: 0; }
}


#editor-itinerary { @include clearfix; }
#editor-itinerary .activities {
	float: left; width: 200px;
	li {
		background-color: #EEE; padding: 15px; position: relative;
		h4 { margin: 0;  }
		&.selected { background-color: #0190E9; }
		&.selected:after { content:""; width: 0; height: 0; border: 20px solid transparent; border-left: 20px solid #0190E9; position: absolute; right:-35px; top:4px; }
	}
	li:hover { background-color: #0190E9; cursor: pointer; }
	li + li { border-top: 1px dashed #AAA; }
}

#editor-itinerary .activity-form {
	@include clearfix; float: right; width: 705px; margin-right: 20px;
	label { width: 70px; display: block; float: left; text-align:right; padding: 3px 10px 3px 0; margin: 2px 0; }
	> p {
		@include clearfix;
		&.title {
			input { width: 600px; }
		}
		&.when {
			input { width: 100px; margin-right: 8px; }
		}
		&.source-url {
			input { width: 600px; }
		}
	}
	.buttons { clear: both; margin-top: 100px; }
	.msg.success { background-color: #E6EFC2; border: 1px solid #C6D880; color: #529214; padding: 15px; font-size: 16px; float: left; margin: 10px 0; }
	.msg.error { background: #FBE3E4; border: 1px solid #FBC2C4; color: #D12F19; padding: 15px; font-size: 16px; float: left; margin: 10px 0; }
}