@import "Mixins.scss";

/* Html Tags */
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; margin: 0; background-color: #666; background-size: cover; background-attachment: fixed; background-position: bottom right; }
h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
h1 { font-size: 28px; }
a, a:visited, a:hover, .link { color: #0190E9; text-decoration: none; cursor: pointer; }
a:hover, .link:hover { text-decoration: underline; }
a:focus { text-decoration: underline; outline: none; }
img { border: none; }
table { width: 100%; }
td { vertical-align: top; padding: 0; }
ul, ol { list-style: none; margin: 0; padding: 0; }

/* HTML5 Tags */
article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }

/* Colors */
$invalid-color: #E92553;
$warning-color-bg: #E92553;
$warning-color-fg: #FFF;
	
/* Utilities */
.placeholder { font-weight: normal !important; color: #666666 !important; }
.overlay { position: fixed; top:0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.3); z-index: 10; }
input.day-input { width: 30px !important; }
input.time-input { width: 75px !important; }
.ui-autocomplete { z-index: 10 !important; }
.toggler { cursor: pointer; }
.subtitle { background-color: #F3ECB7; padding: 10px; }
.subtitle.warning {
	background-color: $warning-color-bg; color: $warning-color-fg; font-weight: bold;
	a { color: $warning-color-fg; text-decoration: underline; }
}
.subtitle.good { background-color: #53E925; }
.hidden { display: none; }

/* Form Defaults */
textarea, input, select { font-size: 14px; }
input[type="submit"], input[type="button"], select { padding: 5px; }
input[type="submit"], input[type="button"] { border: none; color: #FFFFFF; background-color: #0190E9; cursor: pointer; }
input[type="submit"][disabled="disabled"], input[type="button"][disabled="disabled"] { display: none; }

input.delete { background-color: #E92553; }

.field-validation-error { display: block; padding: 5px; background-color: $invalid-color; color: #FFF; font-weight: bold; margin-bottom: 11px; font-size: 12px; line-height: 20px; }

/* Panel Form Defaults */
/*.panel form {
	label { display: block; float: left; width: 100px; line-height: 33px; font-size: 16px; clear: both; }
	span { line-height: 33px; font-size: 16px; }
	input[type="checkbox"] { margin: 10px 0; }
  	input[type="text"], input[type="password"] { font-size: 18px; font-weight: bold; color: #666666; width: 330px; padding: 5px; margin-right: 10px; }
}*/

/* Header */
#header-container { background-color: #262626; z-index: 5; }
#header { width: 955px; margin: 0 auto; font-size: 13px; overflow: hidden; }
#logo { float: left; font-weight: bold; font-size: 22px; color: #FFF; letter-spacing: 1px; margin-top: -10px; padding: 15px 10px 5px 10px; @include border-radius(0 0 7px 7px); @include gradient(#39B3FE, #0190E9); }

/* Search */
/*#search {
	float: right; margin: 10px 10px 10px 30px;
	form { @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.8)); }
	input[type="text"] { font-size: 16px; padding: 4px; border: none; width: 200px; }
	input[type="submit"] { font-size: 16px; padding: 6px; background-color: #E9BA26; border: none; color: #000; margin-left: -6px; }
}*/

/* User status */
#user-status { color: #FFFFFF; float: right; text-align: right; margin: 10px; }
#user-status a, #user-status a:visited { color: #66C3FE; }
#user-status-header { margin-bottom: 5px; color: #8A8A8A; }
#user-status-header a { font-weight: bold; font-size: 13px; }
#user-status #start-here-link { font-size: 12px; font-weight: normal; }
#user-status-menu {
	font-size: 12px; font-weight: normal;
	a { padding-left: 5px; margin: 0; }
	a + a { border-left: 1px solid #8A8A8A; margin-left: 5px; }
}

/* Tripbar */
#trip-bar-container {
	z-index: 5; margin-top: 10px; position: relative;
	&.at-top { position: fixed; top: 0; left: 0; right: 0; background-color: #262626; margin: 0; }
	#trip-bar {
		width: 935px; padding: 10px; margin: 0 auto; @include transparent-background(#262626, 0.8); @include border-radius(7px);
		#create-trip-form {
		float: right;text-align: right;
			p { display: inline; margin-right: 10px; }
			input[type="text"] { width: 250px; font-size: 16px; }
		}
		#trip-bar-pre-title { color: #BBB; }
		#trip-bar-title { color: #FFFFFF; font-size: 24px; font-weight: bold; display: inline; }
		#email-warning {
			background-color: #E92553; font-size: 14px; letter-spacing: 1px; font-weight: bold; text-align: center; padding: 3px; color: #000; @include border-radius(4px); margin-top: 3px;
			a { color: #FFF; }
		}
	}
	#trip-bar-menu {
		float: right; z-index: 6; position: relative; margin: 5px 0; font-size: 20px; font-weight: bold; @include clearfix;
		.link { cursor: default; }
		a, .link {
			color: #66C3FE; padding: 5px 20px; margin: 0; display: block;
			&:hover { text-decoration: none !important; }
			span {
				color: #BBB; font-weight: normal; display: block; padding: 10px 5px 10px 15px; font-size: 14px; white-space: nowrap;
				strong { color: #FFF; font-weight: normal; letter-spacing: 1.5px; }
			}
		}
		> li {
			float: left; position: relative;
			> .link {
				padding-right: 10px;
				&:after { content: ""; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #66C3FE; margin-left:5px; position: relative; top:16px; }
			}
			&:hover { background-color: #333; }
			&+ li { border-left: 1px solid #FFF; }
			ul {
				display: none; position: absolute; right: 0; font-size: 14px; padding: 10px; background-color: #333; z-index: 2;
				li {
					&:hover { background-color: #444; }
					&+li { border-top: 1px solid #555; }
					a, .link { padding: 5px; cursor: pointer; }
				}
			}
		}
	}
}

/* Dialogs */
#new-user-dialog {
	margin: 100px auto 0 auto; width: 370px; background-color: #FFF; @include border-radius(10px);
	header { background-color: #0190E9; color: #FFF; padding: 10px;@include border-radius(10px 10px 0 0); text-align: center; font-size: 18px; }
	h1 { text-align: center; }
	p.submit { text-align: center; padding: 10px 0; }
}

/* Page Sections */
#content { width: 955px; margin: 10px auto; @include clearfix; }

#side-container {
	float: left; width: 220px; margin-top: 50px; text-transform: lowercase; margin-right: 25px;
	a { margin-bottom: 10px; @include transparent-background(#E9BA26,0.7); padding: 10px; display: block; font-weight: bold; color: #000000; font-size: 16px; @include border-radius(4px); }
	a:hover, a:focus { background-color:#E9BA26; text-decoration:none; }
}

#main-container { float: right; width: 710px; }

article {
	@include border-radius(6px); @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.8)); background-color: #FFFFFF; overflow: hidden !important; padding-bottom: 10px;
	> header {
		background-color: #E9BA26;
		h1 {
			padding: 15px;
			span.right { float:right; font-size: 16px; line-height: 34px; font-weight:normal; }
		}
	}
	section {
		padding: 20px 10px 0 10px;
		h2 {
			color: #404040; font-size: 26px; margin-bottom: 10px; text-transform: none;
			span { font-size: 12px; font-weight: normal; }
		}
		.subtitle { padding: 5px; margin: 10px 0; }
	}
}

.panel { @include border-radius(6px); @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.8)); background-color: #FFFFFF; overflow: hidden !important; }
.panel + .panel { margin-top: 10px; }
.panel h2 { color: #262626; font-size: 22px; margin: 10px 0; text-transform: lowercase; }
.panel > header {
	background-color: #E9BA26; padding: 15px; @include clearfix; line-height: 30px;
	h1 { float:left; }
	.add-to-trip { float: right; }
}

header .share-bar-container {
	float:right; margin: 15px;
}

.panel-alert { padding: 10px; background-color: #FE9FAA; font-weight: bold; text-align: center; font-size: 16px; }
.panel-small-alert { padding: 5px 10px; background-color: #E9BA26; }

.panel-suggestions {
	margin: 10px 0;
	.title { background-color: #0190E9; color: #FFF; padding: 5px; }
}

.panel-content { padding: 10px; }
.panel-content.not-padded { padding: 0 !important; }

/* Landing Page */
#landing-page-panel-container {
	width: 955px; margin: 0 auto; @include transparent-background(#FFF, 0.85); @include border-radius(7px); padding-bottom: 40px;
	#landing-page-panel {
		margin: 0 20px; padding: 20px 0;
		h1 { font-size: 40px; margin: 0 0 30px 0; color: #0190E9; }
		h2 { font-size: 22px; margin: 20px 0 20px 0; }
		h3 { font-size: 24px !important; color: #333; }
		> p { color: #333; font-size: 17px; line-height: 1.5; margin: -10px 0 0 0; }
		/*> ul {
			list-style: disc;
			margin: 0; padding-left: 40px;
			li {
				font-size: 16px; margin: 10px 0;
				a { font-weight: bold; }
			}
		}*/
		#create-trip-form {
			float: right; @include transparent-background(#52BCFE, 0.5); margin: 0 20px 20px 30px; @include box-shadow(3px 7px 10px rgba(0, 0, 0, 0.8));
			h3 { font-size: 18px; margin: 20px 20px 10px 20px; }
			p { margin:10px 20px; }
			input[type="text"] { width: 300px; }
		}
		#trips {
			margin: 50px auto; width: 800px; @include transparent-background(#F3ECB7,0.3);
			header {
				padding: 5px; @include clearfix; background-color: #E9BA26;
				h2 { margin: 0; float:left; }
				a { float:right; }
			}
		}
	}
}

/* Footer */
footer {
	width: 955px; height: 100px; margin: 30px auto; text-align: right;
	span { background-color: rgba(255,255,255,0.5); @include border-radius(5px); padding: 2px 5px; }
}

/* Map InfoWindows */
/*.info-window {
	p { margin: 0; }
	a { display: block; }
	a + a { margin-top:10px; }
	.title { font-weight: bold; }
}*/

/*
.note { font-size: 12px; }
.note + .note { margin-top: 6px; }
.note:before { content: "note:"; color: #999; }
*/

/* Create Trip Form */
/*#create-trip-form label { width: 140px; }
#create-trip-form input[type="text"] { width: 400px; }
*/


/* Trip Settings Form */
#trip-settings-form label { width: 140px; }
#trip-settings-form input[type="text"] { width: 400px; }

/* Trip Search Form */
/*#trip-search-form {
	font-size: 16px; margin-bottom:10px;
}*/

/* My Trips */
#my-trips {
	.none-found { padding:15px; }
	.my-trip-rows {
		li {
			display: block; @include clearfix;
			a.trip { font-size: 16px; margin: 15px; display: block; float: left; }
			.delete { float: right; margin: 17px; cursor: pointer; }
			.travelers {float: right; margin: 15px; }
			&+ li { border-top: 1px dashed #CCCCCC; }
		}
		li.current a.trip:after { content: "currently planning"; margin-left:10px; font-size: 12px; color: #999; }
	}
}

/* Trip Row */
.trip-rows { clear: both; }
.trip-row {
	padding: 5px; @include clearfix;
	p { margin: 5px 0; }
	+ .trip-row { border-top: 1px dashed #CCCCCC; }
	.trip-row-photo { float: left; margin: 5px; }
	.trip-row-body { margin-top: 2px; }
	.trip-row-title { font-weight: bold; font-size: 16px; }
	.trip-map-dialog-link { display: block; }
}

/* Tags */
/*ul.tags { @include clearfix; height: 26px; }
ul.tags > li { float: left; }
ul.tags > li + li { margin-left: 5px; }
.tag { background-color: #E0EAF1; padding: 3px 4px; border-bottom: 1px solid #3E6D8E; border-right: 1px solid #7F9FB6; margin: 2px 2px 2px 0; text-decoration: none; white-space: nowrap; font-size: 90%; display: block; height: 15px; }
.tag:hover, .tag:focus { background-color: #0190E9; border-bottom: 1px solid #0190E9; border-right: 1px solid #0190E9; color: #E0EAF1; text-decoration: none; }*/


.travelers-h {
	@include clearfix;
	> li {
		float: left; display: block; padding: 5px; text-align: center;
		img { }
		span { display: block; }
		&:hover { background-color: #EEE; }
	}
}

/* Trips */
#trips-details {
	.panel-content { background-color:#EEE; }
	#trip-map-container { width: 100%; height: 250px; margin-bottom: 10px; }
	#who {
		.travelers {
			@include clearfix;
			> li {
				float: left; display: block; padding: 5px; text-align: center;
				img { }
				span { display: block; }
				&:hover { background-color: #EEE; }
			}
		}
	}
	#itinerary {
		.activities {
		padding: 10px 0; @include clearfix; background: url('/static/images/activitybackgroundline.png') repeat-y 20px;
			> .date { padding: 2px 5px; background-color: #999; color: #FFF; float: left; clear: both; @include border-radius(4px); font-size: 12px; margin: 3px 0; z-index: 2; position: relative; }
			> .activity {
				@include clearfix; padding: 8px; padding-left: 40px; clear: both; position: relative; overflow: hidden;
				&:hover {
					background-color: #F3F3F3; cursor: pointer; overflow: visible; z-index: 10;
					> .maps { background-color: #F3F3F3; }
				}	
				&+ .activity { border-top: 1px solid #CCC; }	
				> .maps {
					float:right; @include clearfix; position: absolute; right:5px;
					li { float: left; margin-left: 10px; }
				}
			}
		}
	}
}

/*#trips-map {
	#trip-map-container { width: 100%; height: 500px; }
}*/

#trips-history {
	.histories {
		h3 { margin: 10px 0; }
		.history {
			padding: 8px;
			+.history { border-top: 1px solid #F3F3F3; }
		}
	}
}

#trips-who {
	.panel-content {
		> form { margin: 10px; }
	}
	.travelers {
		li {
			@include clearfix; padding: 10px; padding-left: 70px; position: relative; min-height: 50px;
			border-top: 1px solid #CCC;
			&+ li {  }
			img { position: absolute; left: 10px; }
			a.user { float: left; font-size: 16px; }
			a.delete { float: right; }
			.expanded {
				clear: both;
				.invite { margin: 0; float: left; }
				.sent { background-color: #E6EFC2; color: #529214; padding: 5px; float: left; margin-top: 5px; }
			}
			.expanded.not-sent {
				.invite { display: block; }
				.sent { display: none; }
			}
			.expanded.sent {
				.invite { display: none; }
				.sent { display: block; }
			}
		}
	}
}

/* Packing List */
.packing-list-tag h3 { text-transform: none; margin: 10px 0 5px 0; }
.packing-list-tags.fluid {
	@include clearfix;
	.packing-list-tag {	
		width: 32%; display: inline; background-color: #E6E6E6; margin: 0 10px 10px 0; @include box-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
		h3 { margin: 5px }
		&.hidden { width: 0; height: 0; margin: 0; left: 0; top: 0; display: none; position: hidden; }
		.packing-list-items {
			margin: 5px;
			li { float: none; width: auto; margin: 5px 0 0 0; }
		}
	}
}

.packing-list-items {
	@include clearfix;
	li {
		float: left; width: 30%; margin: 0 4px 4px 0; padding: 5px; @include clearfix; background-color: #F6F6F6; @include border-box;
		&.added { background: url("/static/icons/check.png") #F6F6F6 no-repeat right center; padding-right:30px; }
		.add-to-trip { float: right; }
		.packing-list-item-note { clear: both; background-color: #9FDAFE; padding: 3px; margin-top: 3px; }
		.packing-list-item-tag {
			color: #999 !important;
			a { color: #999; }
		}
		&:hover { background-color: #EEE; cursor: pointer; }
		&.visibility-private .name:after { content: "(private)"; color: #888; margin-left: 2px; }
	}
	&.suggestions {
		margin: 5px 20px; border-top: none; @include clearfix; display: none;
		li {
			cursor: pointer; background-color: #E0F3FF;
			&:hover { background-color: #EEE; }
		}
	}
}

/* Places */
/*#places-nearby {
	#place-rows {
		margin-top: 10px; cursor: pointer;
		li {
			padding: 10px;
			+ li { border-top: 1px solid #DDD; }
			.add-to-trip { float:right; }
		}
		li.active { background-color: #EEE; }
		li:hover { background-color: #EEE; }
	}
	.panel-content { position: relative; }
	#map { height: 300px; }
	#map.at-top { position: fixed !important; top: 90px; }
	#placeSearch {
		#keyword { width: 250px; }
	}
}*/

/*.search-form {
	@include clearfix; margin: 10px 0;
	input, select, span { float: left; display: block; @include border-box; height: 26px; margin-right:5px; }
	input[type="text"] { font-weight: bold; }
	select { padding: 3px; }
	span { line-height: 26px; }	
}*/

#users-details {
	img { float: left; }
	h1 { float: left; line-height: 80px; margin-left: 15px; }
}

#invitations-details {
	.panel-content {
		h2 { font-weight: normal; font-size: 16px; }
		.trip { font-size: 30px; }
		#confirm-form {
			float: right; background-color: #F4F4F4; @include border-radius(10px); margin: 20px 50px;
			header { background-color: #0190E9; color: #FFF; padding: 10px;@include border-radius(10px 10px 0 0); text-align: center; font-size: 18px; }
			&.show-sign-in { #sign-in { display: block; } #sign-up { display: none; } }
			&.show-sign-up { #sign-in { display: none; } #sign-up { display: block; } }
			#accept {
				text-align: center;
				h4 { line-height: 40px; }
				p { text-align: center; }
				.submit input { font-size: 24px; margin-bottom: 20px; }
			}
		}
	}	 
}

.sign-up-form, .sign-in-form {
	margin: 10px;
	p { text-align: right; }
	input[type="text"] { width: 200px; font-size: 16px; }
	input[type="password"] { width: 200px; font-size: 16px; }
	label { font-size: 16px; }
	label:after { content: ':'; }
	.submit input { font-size: 16px; @include border-radius(5px); }
}