/* Html Tags */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  background-color: #333;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom right; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 28px; }

a, a:visited, a:hover, .link {
  color: #0190E9;
  text-decoration: none;
  cursor: pointer; }

a:hover, .link:hover {
  text-decoration: underline; }

a:focus {
  text-decoration: underline;
  outline: none; }

img {
  border: none; }

table {
  width: 100%; }

td {
  vertical-align: top;
  padding: 0; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/* HTML5 Tags */
article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* Colors */
/* Utilities */
.placeholder {
  font-weight: normal !important;
  color: #666666 !important; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8675315; }

input.day-input {
  width: 30px !important; }

input.time-input {
  width: 75px !important; }

.ui-autocomplete {
  z-index: 10 !important; }

.toggler {
  cursor: pointer; }

.subtitle {
  background-color: #F3ECB7;
  padding: 10px; }

.subtitle.warning {
  background-color: #e92553;
  color: white;
  font-weight: bold; }
  .subtitle.warning a {
    color: white;
    text-decoration: underline; }

.subtitle.good {
  background-color: #53E925; }

.hidden {
  display: none; }

/* Form Defaults */
textarea, input, select {
  font-size: 14px; }

input[type="submit"], input[type="button"], select {
  padding: 3px; }

input[type="submit"], input[type="button"] {
  border: none;
  color: #FFFFFF;
  background-color: #0190E9;
  cursor: pointer; }

input[type="submit"][disabled="disabled"], input[type="button"][disabled="disabled"] {
  display: none; }

input.delete {
  background-color: #E92553; }

.field-validation-error {
  display: block;
  padding: 5px;
  background-color: #e92553;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 11px;
  font-size: 12px;
  line-height: 20px; }

.button {
  display: inline-block;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer; }
  .button.blue {
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(top, #3c88cc, #276195);
    background-image: -ms-linear-gradient(top, #3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(top, #3c88cc, #276195);
    background-image: -o-linear-gradient(top, #3c88cc, #276195);
    background-image: linear-gradient(top, #3c88cc, #276195);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3c88cc', endColorstr='#276195');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3c88cc', endColorstr='#276195')";
    color: #FFF; }
  .button.green {
    background-color: #659324;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#81bc2e), to(#659324));
    background-image: -moz-linear-gradient(top, #81bc2e, #659324);
    background-image: -ms-linear-gradient(top, #81bc2e, #659324);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #81bc2e), color-stop(100%, #659324));
    background-image: -webkit-linear-gradient(top, #81bc2e, #659324);
    background-image: -o-linear-gradient(top, #81bc2e, #659324);
    background-image: linear-gradient(top, #81bc2e, #659324);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81bc2e', endColorstr='#659324');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81bc2e', endColorstr='#659324')";
    color: #FFF; }
  .button.yellow {
    background-color: #c89e14;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e9ba26), to(#c89e14));
    background-image: -moz-linear-gradient(top, #e9ba26, #c89e14);
    background-image: -ms-linear-gradient(top, #e9ba26, #c89e14);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9ba26), color-stop(100%, #c89e14));
    background-image: -webkit-linear-gradient(top, #e9ba26, #c89e14);
    background-image: -o-linear-gradient(top, #e9ba26, #c89e14);
    background-image: linear-gradient(top, #e9ba26, #c89e14);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e9ba26', endColorstr='#c89e14');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e9ba26', endColorstr='#c89e14')";
    color: #FFF; }
  .button.medium {
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 11px; }
  .button.large {
    height: 54px;
    line-height: 54px;
    font-size: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 24px; }

/* Header */
#header-container {
  background-color: #262626;
  z-index: 5; }

#header {
  width: 955px;
  margin: 0 auto;
  font-size: 13px;
  height: 52px;
  overflow: hidden;
  zoom: 1; }
  #header:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #header:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #header #logo {
    float: left;
    font-weight: bold;
    font-size: 22px;
    color: #FFF;
    letter-spacing: 1px;
    margin-top: -10px;
    padding: 15px 10px 5px 10px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    background-color: #0190e9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#39b3fe), to(#0190e9));
    background-image: -moz-linear-gradient(top, #39b3fe, #0190e9);
    background-image: -ms-linear-gradient(top, #39b3fe, #0190e9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #39b3fe), color-stop(100%, #0190e9));
    background-image: -webkit-linear-gradient(top, #39b3fe, #0190e9);
    background-image: -o-linear-gradient(top, #39b3fe, #0190e9);
    background-image: linear-gradient(top, #39b3fe, #0190e9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#39b3fe', endColorstr='#0190e9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#39b3fe', endColorstr='#0190e9')"; }
  #header #user-status {
    color: #FFFFFF;
    float: right;
    text-align: right;
    margin: 7px 0; }
    #header #user-status a, #header #user-status a:visited {
      color: #66C3FE; }
    #header #user-status a + a {
      border-left: 1px solid #8A8A8A;
      padding-left: 5px; }
    #header #user-status p {
      margin: 12px 0; }
    #header #user-status #user-status-header {
      margin-bottom: 5px;
      color: #8A8A8A; }
      #header #user-status #user-status-header a {
        font-weight: bold;
        font-size: 13px; }
    #header #user-status #user-status-menu {
      font-size: 12px;
      font-weight: normal; }
      #header #user-status #user-status-menu a {
        padding-left: 5px;
        margin: 0; }
  #header .create-trip.button {
    float: right;
    margin: 11px 0 0 15px; }

/* Tripbar */
#trip-bar {
  width: 935px;
  padding: 10px;
  margin: 10px auto;
  background: #262626;
  background: rgba(38, 38, 38, 0.8);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }
  #trip-bar .pre-title {
    color: #BBB; }
  #trip-bar .title {
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    display: inline; }
  #trip-bar #email-warning {
    background-color: #E92553;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 3px; }
    #trip-bar #email-warning a {
      color: #FFF; }
  #trip-bar.trip-no .title {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    display: block;
    padding: 5px 0; }
    #trip-bar.trip-no .title a {
      color: #FFF;
      text-decoration: underline; }
  #trip-bar.trip-kindof .title {
    font-size: 18px;
    font-weight: normal;
    padding: 5px 0; }
  #trip-bar nav {
    float: right;
    position: relative;
    margin: 5px 0;
    font-size: 20px; }
    #trip-bar nav:hover {
      background-color: #333;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0; }
    #trip-bar nav .goto {
      color: #66C3FE;
      padding: 5px 10px;
      margin: 0;
      cursor: default;
      white-space: nowrap; }
      #trip-bar nav .goto:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #66C3FE;
        margin-right: 5px;
        position: relative;
        top: 16px; }
    #trip-bar nav ul {
      display: none;
      position: absolute;
      right: 0;
      font-size: 14px;
      padding: 10px;
      background-color: #333;
      z-index: 3; }
      #trip-bar nav ul li:hover {
        background-color: #444; }
      #trip-bar nav ul li + li {
        border-top: 1px solid #555; }
      #trip-bar nav ul li a {
        padding: 5px;
        display: block;
        color: #66C3FE; }
        #trip-bar nav ul li a:hover {
          text-decoration: none !important; }
      #trip-bar nav ul li span {
        color: #FFF;
        font-weight: normal;
        display: block;
        padding: 10px 5px 10px 15px;
        font-size: 14px;
        white-space: nowrap;
        letter-spacing: 1.5px; }

/* Hide the trip bar sometimes */
#home-index #trip-bar.trip-no, #invitations-details #trip-bar.trip-no {
  display: none; }

/* Dialogs */
.new-user-dialog {
  z-index: 11;
  background-color: #FFF;
  margin: 200px auto 0 auto;
  width: 370px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .new-user-dialog header {
    background-color: #0190E9;
    color: #FFF;
    padding: 10px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 18px; }
  .new-user-dialog h1 {
    text-align: center; }
  .new-user-dialog p.submit {
    text-align: right;
    padding: 10px 0; }
  .new-user-dialog .forgot-pass {
    margin: 10px; }

/* Page Sections */
#content {
  width: 955px;
  margin: 10px auto;
  zoom: 1; }
  #content:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #content:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }

#side-container {
  float: left;
  width: 220px;
  margin-top: 50px;
  text-transform: lowercase;
  margin-right: 25px; }
  #side-container a {
    margin-bottom: 10px;
    background: #e9ba26;
    background: rgba(233, 186, 38, 0.7);
    padding: 10px;
    display: block;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  #side-container a:hover, #side-container a:focus {
    background-color: #E9BA26;
    text-decoration: none; }

.panel {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  background-color: #FFFFFF;
  overflow: hidden !important;
  padding-bottom: 10px; }
  .panel > header {
    background-color: #E9BA26; }
    .panel > header h1 {
      padding: 15px; }
      .panel > header h1 span.right {
        float: right;
        font-size: 16px;
        line-height: 34px;
        font-weight: normal; }
    .panel > header .share-bar-container {
      float: right;
      margin: 15px; }
  .panel section {
    padding: 10px 15px; }
    .panel section h2 {
      color: #404040;
      font-size: 26px;
      margin-bottom: 10px;
      text-transform: none; }
      .panel section h2 span {
        font-size: 12px;
        font-weight: normal; }
    .panel section .subtitle {
      padding: 5px;
      margin: 10px 0; }
  .panel .panel-content {
    padding: 10px; }
  .panel .panel-content.not-padded {
    padding: 0 !important; }

/* Landing Page */
#landing-page-panel-container {
  width: 955px;
  color: #FFF; }
  #landing-page-panel-container #landing-page-panel {
    text-align: center;
    width: 655px;
    margin: 80px auto;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    zoom: 1; }
    #landing-page-panel-container #landing-page-panel:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #landing-page-panel-container #landing-page-panel:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    #landing-page-panel-container #landing-page-panel h1 {
      font-size: 48px;
      margin: 20px;
      text-align: center; }
    #landing-page-panel-container #landing-page-panel .flipper {
      display: block; }
    #landing-page-panel-container #landing-page-panel > p {
      font-size: 17px; }
    #landing-page-panel-container #landing-page-panel .button {
      margin: 10px; }
  #landing-page-panel-container .features {
    zoom: 1;
    color: #000;
    background: white;
    background: rgba(255, 255, 255, 0.85);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }
    #landing-page-panel-container .features:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #landing-page-panel-container .features:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    #landing-page-panel-container .features li {
      float: left;
      width: 280px;
      margin: 18px; }
      #landing-page-panel-container .features li h3 {
        font-size: 24px;
        margin: 0 0 8px 0; }
      #landing-page-panel-container .features li p {
        font-size: 16px;
        margin: 0; }

/* Footer */
body > footer {
  width: 955px;
  height: 100px;
  margin: 30px auto;
  text-align: right; }
  body > footer span {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px; }

ol.notes {
  margin: 10px 0;
  font-size: 12px; }
  ol.notes li {
    padding: 3px 0; }
    ol.notes li .when {
      float: right;
      color: #BBB; }
  ol.notes li + li {
    border-top: 1px solid #F0F0F0; }

/* Create Trip Form */
/*#create-trip-form label { width: 140px; }
#create-trip-form input[type="text"] { width: 400px; }
*/
/* Trip Settings Form */
#trip-settings-form label {
  width: 140px; }

/* My Trips */
#my-trips .panel > header a {
  float: right; }
#my-trips .none-found {
  padding: 15px; }
#my-trips .my-trip-rows li {
  display: block;
  zoom: 1; }
  #my-trips .my-trip-rows li:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #my-trips .my-trip-rows li:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #my-trips .my-trip-rows li a.trip {
    font-size: 16px;
    margin: 15px;
    display: block;
    float: left; }
  #my-trips .my-trip-rows li .delete {
    float: right;
    margin: 17px;
    cursor: pointer; }
  #my-trips .my-trip-rows li .travelers {
    float: right;
    margin: 15px; }
  #my-trips .my-trip-rows li + li {
    border-top: 1px dashed #CCCCCC; }
#my-trips .my-trip-rows li.current a.trip:after {
  content: "currently planning";
  margin-left: 10px;
  font-size: 12px;
  color: #999; }

/* Trip Row */
.trip-rows {
  clear: both; }

.trip-row {
  padding: 5px;
  zoom: 1; }
  .trip-row:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .trip-row:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  .trip-row p {
    margin: 5px 0; }
  .trip-row + .trip-row {
    border-top: 1px dashed #CCCCCC; }
  .trip-row .trip-row-photo {
    float: left;
    margin: 5px; }
  .trip-row .trip-row-body {
    margin-top: 2px; }
  .trip-row .trip-row-title {
    font-weight: bold;
    font-size: 16px; }
  .trip-row .trip-map-dialog-link {
    display: block; }

/* Tags */
/*ul.tags { @include clearfix; height: 26px; }
ul.tags > li { float: left; }
ul.tags > li + li { margin-left: 5px; }
.tag { background-color: #E0EAF1; padding: 3px 4px; border-bottom: 1px solid #3E6D8E; border-right: 1px solid #7F9FB6; margin: 2px 2px 2px 0; text-decoration: none; white-space: nowrap; font-size: 90%; display: block; height: 15px; }
.tag:hover, .tag:focus { background-color: #0190E9; border-bottom: 1px solid #0190E9; border-right: 1px solid #0190E9; color: #E0EAF1; text-decoration: none; }*/
.travelers-h {
  zoom: 1; }
  .travelers-h:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .travelers-h:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  .travelers-h > li {
    float: left;
    display: block;
    padding: 5px;
    text-align: center; }
    .travelers-h > li span {
      display: block; }
    .travelers-h > li:hover {
      background-color: #EEE; }

/* Trips */
#trips-wizard fieldset {
  display: none;
  width: 400px;
  margin: 80px auto;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  zoom: 1;
  border: none;
  padding: 30px;
  color: #FFF; }
  #trips-wizard fieldset:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #trips-wizard fieldset:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #trips-wizard fieldset h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center; }
  #trips-wizard fieldset p {
    zoom: 1; }
    #trips-wizard fieldset p:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #trips-wizard fieldset p:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
  #trips-wizard fieldset .buttons {
    text-align: center; }
    #trips-wizard fieldset .buttons .button {
      margin: 10px; }
    #trips-wizard fieldset .buttons a {
      font-size: 20px; }
  #trips-wizard fieldset label {
    font-size: 20px;
    display: block;
    float: left;
    width: 120px;
    line-height: 30px; }
  #trips-wizard fieldset input {
    font-size: 20px;
    display: block;
    float: left;
    width: 260px; }
  #trips-wizard fieldset select {
    font-size: 20px;
    display: block;
    float: left;
    width: 260px; }
#trips-wizard fieldset:first-child {
  display: block; }
#trips-wizard .packing-fieldset p {
  text-align: center; }
#trips-wizard .packing-fieldset label {
  float: none;
  width: auto; }
#trips-wizard .packing-fieldset input {
  float: none;
  width: auto;
  margin-right: 10px;
  display: inline; }

#trips-details #who .travelers {
  zoom: 1; }
  #trips-details #who .travelers:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #trips-details #who .travelers:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #trips-details #who .travelers > li {
    float: left;
    display: block;
    padding: 5px;
    text-align: center; }
    #trips-details #who .travelers > li span {
      display: block; }
    #trips-details #who .travelers > li:hover {
      background-color: #EEE; }

#trips-itinerary .panel > header a, #trips-packing .panel > header a {
  display: block;
  float: right;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  margin: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #b70116;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe3950), to(#b70116));
  background-image: -moz-linear-gradient(top, #fe3950, #b70116);
  background-image: -ms-linear-gradient(top, #fe3950, #b70116);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe3950), color-stop(100%, #b70116));
  background-image: -webkit-linear-gradient(top, #fe3950, #b70116);
  background-image: -o-linear-gradient(top, #fe3950, #b70116);
  background-image: linear-gradient(top, #fe3950, #b70116);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fe3950', endColorstr='#b70116');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fe3950', endColorstr='#b70116')"; }
#trips-itinerary .panel > header a:hover, #trips-packing .panel > header a:hover {
  text-decoration: none; }

#trips-itinerary .panel > header a:after {
  content: 'Add Activity';
  margin-left: 10px; }
#trips-itinerary #itinerary .activities {
  padding: 10px 0;
  zoom: 1;
  background: url("/static/images/activitybackgroundline.png") repeat-y 20px; }
  #trips-itinerary #itinerary .activities:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #trips-itinerary #itinerary .activities:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #trips-itinerary #itinerary .activities > .date {
    padding: 2px 5px;
    background-color: #999;
    color: #FFF;
    float: left;
    clear: both;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    margin: 3px 0;
    z-index: 2;
    position: relative; }
  #trips-itinerary #itinerary .activities > .activity {
    zoom: 1;
    padding: 8px;
    padding-left: 40px;
    clear: both;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    #trips-itinerary #itinerary .activities > .activity:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #trips-itinerary #itinerary .activities > .activity:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    #trips-itinerary #itinerary .activities > .activity .title {
      font-weight: bold; }
    #trips-itinerary #itinerary .activities > .activity:hover {
      background-color: #F3F3F3;
      overflow: visible;
      z-index: 10; }
      #trips-itinerary #itinerary .activities > .activity:hover > .maps {
        background-color: #F3F3F3; }
    #trips-itinerary #itinerary .activities > .activity + .activity {
      border-top: 1px solid #CCC; }
    #trips-itinerary #itinerary .activities > .activity > .maps {
      float: right;
      zoom: 1;
      position: absolute;
      right: 5px; }
      #trips-itinerary #itinerary .activities > .activity > .maps:before {
        display: table;
        content: "";
        zoom: 1;
        *display: inline; }
      #trips-itinerary #itinerary .activities > .activity > .maps:after {
        display: table;
        content: "";
        zoom: 1;
        *display: inline;
        clear: both; }
      #trips-itinerary #itinerary .activities > .activity > .maps li {
        float: left;
        margin-left: 10px; }

#trips-packing .panel > header a:after {
  content: 'Find Items';
  margin-left: 10px; }
#trips-packing section > footer {
  border-top: 1px dashed #CCC;
  margin-top: 30px; }
#trips-packing #add-pl-item p {
  margin: 5px; }
#trips-packing #add-pl-item #pl_quantity {
  width: 30px; }

#trips-history .histories h3 {
  margin: 10px 0; }
#trips-history .histories .history {
  padding: 8px; }
  #trips-history .histories .history + .history {
    border-top: 1px solid #F3F3F3; }

#trips-who .panel > form {
  margin: 10px; }
#trips-who .travelers li {
  zoom: 1;
  padding: 10px;
  padding-left: 70px;
  position: relative;
  min-height: 50px;
  border-top: 1px solid #CCC; }
  #trips-who .travelers li:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #trips-who .travelers li:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  #trips-who .travelers li img {
    position: absolute;
    left: 10px; }
  #trips-who .travelers li a.user {
    float: left;
    font-size: 16px; }
  #trips-who .travelers li a.delete {
    float: right; }
  #trips-who .travelers li .expanded {
    float: left;
    zoom: 1;
    clear: both;
    margin-top: 5px; }
    #trips-who .travelers li .expanded:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #trips-who .travelers li .expanded:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    #trips-who .travelers li .expanded > * {
      display: none;
      float: left; }
    #trips-who .travelers li .expanded .sent, #trips-who .travelers li .expanded .accepted {
      background-color: #E6EFC2;
      color: #529214;
      padding: 5px; }
  #trips-who .travelers li .expanded.not-sent .invite {
    display: block; }
  #trips-who .travelers li .expanded.sent .sent {
    display: block; }
  #trips-who .travelers li .expanded.accepted .accepted {
    display: block; }

/* Packing List */
.packing-list-tag h3 {
  text-transform: none;
  margin: 10px 0 5px 0; }

.packing-list-tags.fluid {
  zoom: 1; }
  .packing-list-tags.fluid:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .packing-list-tags.fluid:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  .packing-list-tags.fluid .packing-list-tag {
    width: 31%;
    display: inline;
    background-color: #E6E6E6;
    margin: 0 10px 10px 0;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
    .packing-list-tags.fluid .packing-list-tag h3 {
      margin: 5px; }
    .packing-list-tags.fluid .packing-list-tag.hidden {
      width: 0;
      height: 0;
      margin: 0;
      left: 0;
      top: 0;
      display: none;
      position: hidden; }
    .packing-list-tags.fluid .packing-list-tag .packing-list-items {
      margin: 5px; }
      .packing-list-tags.fluid .packing-list-tag .packing-list-items li {
        float: none;
        width: auto;
        margin: 5px 0 0 0; }

.packing-list-items {
  zoom: 1; }
  .packing-list-items:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .packing-list-items:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  .packing-list-items li {
    float: left;
    width: 30%;
    margin: 0 4px 4px 0;
    padding-left: 5px;
    line-height: 22px;
    zoom: 1;
    background-color: #F6F6F6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */ }
    .packing-list-items li:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    .packing-list-items li:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    .packing-list-items li.added {
      background: url("/static/icons/check.png") #f6f6f6 no-repeat right center;
      padding-right: 30px; }
    .packing-list-items li .add-to-trip {
      float: right; }
    .packing-list-items li .packing-list-item-note {
      clear: both;
      background-color: #9FDAFE;
      padding: 3px;
      margin-top: 3px; }
    .packing-list-items li .packing-list-item-tag {
      color: #999 !important; }
      .packing-list-items li .packing-list-item-tag a {
        color: #999; }
    .packing-list-items li.visibility-private .name:after {
      content: "(private)";
      color: #888;
      margin-left: 2px; }
    .packing-list-items li .right {
      float: right; }
      .packing-list-items li .right .quantity {
        float: left;
        margin: 0 5px;
        line-height: 22px; }
      .packing-list-items li .right .inc, .packing-list-items li .right .dec {
        float: left;
        display: block;
        height: 18px;
        line-height: 18px;
        width: 18px;
        margin: 2px;
        text-align: center;
        background-color: #DDD;
        cursor: pointer; }
      .packing-list-items li .right .inc:active, .packing-list-items li .right .dec:active {
        background-color: #66C3FE; }
  .packing-list-items.suggestions {
    margin: 5px 20px;
    border-top: none;
    zoom: 1;
    display: none; }
    .packing-list-items.suggestions:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    .packing-list-items.suggestions:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    .packing-list-items.suggestions li {
      cursor: pointer;
      background-color: #E0F3FF; }
      .packing-list-items.suggestions li:hover {
        background-color: #EEE; }

/* Places */
.place-search-container {
  z-index: 11;
  background-color: #FFF;
  margin: 200px auto 0 auto;
  zoom: 1;
  width: 775px; }
  .place-search-container:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .place-search-container:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  .place-search-container form {
    margin: 10px; }
  .place-search-container .place-list {
    float: left;
    width: 250px;
    height: 350px;
    overflow-y: auto;
    margin: 10px 0 0 10px; }
    .place-search-container .place-list li {
      margin: 0 5px 5px 0;
      padding: 10px;
      cursor: pointer; }
      .place-search-container .place-list li strong {
        display: block; }
      .place-search-container .place-list li.selected {
        background-color: #0190E9;
        color: #FFF; }
    .place-search-container .place-list li + li {
      border-top: 1px solid #EEE; }
  .place-search-container .map {
    float: right;
    height: 350px;
    width: 500px;
    margin: 10px 10px 0 0; }
  .place-search-container .selection {
    text-align: center;
    font-size: 25px; }
    .place-search-container .selection .place-name {
      margin: 30px; }
      .place-search-container .selection .place-name em {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.4); }

/*#places-nearby {
	#place-rows {
		margin-top: 10px; cursor: pointer;
		li {
			padding: 10px;
			+ li { border-top: 1px solid #DDD; }
			.add-to-trip { float:right; }
		}
		li.active { background-color: #EEE; }
		li:hover { background-color: #EEE; }
	}
	.panel { position: relative; }
	#map { height: 300px; }
	#placeSearch {
		#keyword { width: 250px; }
	}
}*/
/*.search-form {
	@include clearfix; margin: 10px 0;
	input, select, span { float: left; display: block; @include border-box; height: 26px; margin-right:5px; }
	input[type="text"] { font-weight: bold; }
	select { padding: 3px; }
	span { line-height: 26px; }	
}*/
#users-details .panel header {
  zoom: 1; }
  #users-details .panel header:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #users-details .panel header:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
#users-details img {
  float: left;
  margin-right: 15px; }

#invitations-details .panel h2 {
  font-weight: normal;
  font-size: 16px; }
#invitations-details .panel .trip {
  font-size: 30px; }
#invitations-details .panel #confirm-form {
  float: right;
  background-color: #F4F4F4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 50px; }
  #invitations-details .panel #confirm-form header {
    background-color: #0190E9;
    color: #FFF;
    padding: 10px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 18px; }
  #invitations-details .panel #confirm-form form {
    display: none; }
  #invitations-details .panel #confirm-form.show-sign-in #sign-in {
    display: block; }
  #invitations-details .panel #confirm-form.show-sign-up #sign-up {
    display: block; }
  #invitations-details .panel #confirm-form.show-accept #accept {
    display: block; }
  #invitations-details .panel #confirm-form #accept {
    text-align: center; }
    #invitations-details .panel #confirm-form #accept h4 {
      line-height: 40px; }
    #invitations-details .panel #confirm-form #accept p {
      text-align: center; }

.sign-up-form, .sign-in-form {
  margin: 10px; }
  .sign-up-form p, .sign-in-form p {
    text-align: right; }
  .sign-up-form input[type="text"], .sign-in-form input[type="text"] {
    width: 200px;
    font-size: 16px; }
  .sign-up-form input[type="password"], .sign-in-form input[type="password"] {
    width: 200px;
    font-size: 16px; }
  .sign-up-form label, .sign-in-form label {
    font-size: 16px; }
  .sign-up-form label:after, .sign-in-form label:after {
    content: ':'; }

@media (max-width: 800px) {
  #uvTab {
    display: none !important; }

  body {
    background-image: none !important; }

  h1 {
    font-size: 20px;
    padding: 5px 10px !important; }

  h2 {
    font-size: 18px !important; }

  #header {
    width: auto;
    padding: 0 10px; }

  body > footer {
    display: none; }

  #trip-bar {
    width: auto;
    background-color: #444;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    #trip-bar nav {
      margin: 0;
      font-size: 16px; }
      #trip-bar nav .goto:before {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #66C3FE;
        margin-right: 5px;
        top: 12px; }
      #trip-bar nav li span {
        padding: 0 !important;
        font-size: 12px !important; }
    #trip-bar #email-warning {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: auto;
      font-weight: normal; }
    #trip-bar .pre-title {
      display: none; }

  #content {
    width: auto;
    margin: 0; }

  .panel {
    clear: both;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .panel section {
      margin: 0; }
    .panel header {
      padding: 0; }

  #landing-page-panel-container {
    width: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    #landing-page-panel-container #landing-page-panel {
      margin: 0;
      padding: 0;
      width: auto;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
      #landing-page-panel-container #landing-page-panel h1 {
        font-size: 28px;
        margin: 10px; }
      #landing-page-panel-container #landing-page-panel .button {
        margin: 5px;
        padding: 0 10px;
        height: 35px;
        line-height: 35px;
        font-size: 16px; }
    #landing-page-panel-container .features {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }

  header .share-bar-container {
    display: none; }

  #side-container {
    display: none; }

  .packing-list-tags.fluid .packing-list-tag {
    width: 100%;
    margin: 0 0 10px 0; }

  .packing-list-items li {
    line-height: 40px; }
    .packing-list-items li .right .quantity {
      margin: 0 10px;
      line-height: 36px; }
    .packing-list-items li .right .inc, .packing-list-items li .right .dec {
      height: 36px;
      line-height: 36px;
      width: 36px; }

  #trips-wizard fieldset {
    width: auto;
    padding: 10px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    #trips-wizard fieldset h2 {
      margin: 0; }
    #trips-wizard fieldset p {
      margin: 10px 0; }
    #trips-wizard fieldset input, #trips-wizard fieldset select {
      width: 90%; }
    #trips-wizard fieldset input, #trips-wizard fieldset select, #trips-wizard fieldset label, #trips-wizard fieldset p {
      font-size: 16px; }

  #trips-packing #add-pl-item {
    zoom: 1; }
    #trips-packing #add-pl-item:before {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #trips-packing #add-pl-item:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline;
      clear: both; }
    #trips-packing #add-pl-item input {
      float: left; }
    #trips-packing #add-pl-item label {
      float: left;
      clear: left;
      display: block;
      width: 60px; }

  #trips-itinerary .panel > header a, #trips-packing .panel > header a {
    font-size: 24px;
    height: 24px;
    line-height: 20px;
    width: 24px;
    padding: 0;
    margin: 5px 10px; }
  #trips-itinerary .panel > header a:after, #trips-packing .panel > header a:after {
    display: none; }

  #editor-container {
    width: 90%;
    margin-top: 20px;
    height: auto; }
    #editor-container .add-activity {
      display: none; }
    #editor-container #editor-itinerary .activity-list {
      display: none; }
    #editor-container #editor-itinerary .activity-form {
      float: none;
      width: auto;
      margin: 0;
      padding: 10px;
      height: auto; }
      #editor-container #editor-itinerary .activity-form input, #editor-container #editor-itinerary .activity-form textarea {
        width: 80%;
        font-size: 14px; }
      #editor-container #editor-itinerary .activity-form textarea {
        height: 20px; }
      #editor-container #editor-itinerary .activity-form div {
        margin: 0; }
    #editor-container header {
      display: none; }

  .new-user-dialog {
    margin: 10px auto;
    width: 90%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .new-user-dialog h1 {
      font-size: 16px; }
    .new-user-dialog header {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 14px; }
    .new-user-dialog p {
      text-align: left;
      margin: 5px 0; }
    .new-user-dialog label {
      display: block; } }
@media print {
  #user-status {
    display: none; }

  #trip-bar {
    display: none; }

  .super-dialog-link {
    display: none; }

  .notes .when {
    display: none; }

  .activities .activity {
    page-break-inside: avoid; }
  .activities .date {
    color: #000 !important;
    background-color: #FFF; }

  #trips-packing .panel header a {
    display: none; }

  .packing-list-tags {
    height: auto !important; }
    .packing-list-tags .packing-list-tag {
      position: static !important; }
      .packing-list-tags .packing-list-tag .packing-list-items {
        margin: 0 30px !important; }
        .packing-list-tags .packing-list-tag .packing-list-items .packing-list-item {
          margin: 0 !important;
          line-height: 20px; }
          .packing-list-tags .packing-list-tag .packing-list-items .packing-list-item .right {
            line-height: 20px !important; }
          .packing-list-tags .packing-list-tag .packing-list-items .packing-list-item .quantity {
            line-height: 20px !important; }
          .packing-list-tags .packing-list-tag .packing-list-items .packing-list-item + .packing-list-item {
            border-top: 1px solid #CCC; }
          .packing-list-tags .packing-list-tag .packing-list-items .packing-list-item .inc, .packing-list-tags .packing-list-tag .packing-list-items .packing-list-item .dec {
            display: none !important; }

  form {
    display: none; }

  footer {
    display: none; } }

