/* Html Tags */
body { background: #FFFFFF; font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-size: 11px; margin: 0; }
h1, h2, h3, h4, h5 { margin: 0; padding: 0; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; }
h1 { font-size: 24px; }
a, a:visited, a:hover { color: #0077CC; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: none; }
table { width: 100%; }
td { vertical-align: top; padding: 0; }

/* Topbar */
#topbar-container { position: fixed; top: 0; left: 0; right: 0; background-color: #5588B4; border-bottom: 2px solid #325471; height: 45px; }
#topbar { width: 955px; margin: 0 auto; padding: 10px 0; font-weight: bold; font-size: 13px; text-align: right; height: 20px; overflow: hidden; }
#logo { float: left; font-weight: bold; font-size: 18px; color: #FFFFFF; letter-spacing: 1px; }

#user-status { float: right; line-height: 20px; }
#user-status a { padding: 0 10px; color: #F8FAF5; }
#user-status a + a { border-left: 1px solid #F8FAF5; }

#main-menu { float: right; line-height: 20px; }
#main-menu a { padding: 0 10px; color: #FFFFFF; }
#main-menu a + a { border-left: 1px solid #CCCCCC; }

/* Tripbar */
#trip-bar { width: 955px; margin: 0px auto; background-color: #5588B4; border: 2px solid #325471; border-top: none; padding: 8px 8px 8px 8px; color: #FFF; overflow: auto; }
#trip-nav-bar { border-top: 1px dashed #CCCCCC; margin-top:5px; padding-top:5px; font-size:14px; }
#trip-nav-bar div { display:inline;}
#trip-nav-bar a { color: #FFF; padding: 0 10px; }
#trip-nav-bar a + a { border-left: 3px solid #325471;}

/* Page Sections */
#content { width: 955px; margin: 130px auto 10px auto; overflow: visible; clear: both; }
#footer { width: 955px; margin: 0 auto; }


/* Trip Schedules */
.trip-day { margin-top: 10px; }
.trip-day > h3 { padding: 3px; background: #CF543F; border-bottom: 2px solid #9B3827; color: #FFF; }
.trip-day-itinerary-item { overflow: auto; margin: 5px 0; padding: 5px 0; }
.trip-day-itinerary-item + .trip-day-itinerary-item { border-top: 1px solid #DDD; }
.trip-day-itinerary-item-time { }
.trip-day-itinerary-item img { float: left; margin-right: 10px; }
.trip-day-itinerary-item > h4 { color: #666; font-size: 14px; }
.trip-day-body { }

/* Plan Trip */
#create-trip-form { }
.trip-settings input[name="name"] { width: 400px; }
