/* Html Tags */
body { background: #498EC3; font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-size: 11px; margin: 0; background-color: #000000; }
h1, h2, h3, h4, h5 { margin: 0; padding: 0; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; }
h1 { font-size: 24px; }
a, a:visited, a:hover { color: #0077CC; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: none; }
table { width: 100%; }
td { vertical-align: top; padding: 0; }

/* Utilities */
.clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
.placeholder { font-weight: normal !important; color: #666666 !important; }

/* Background */
#background { -moz-user-select: none; left: 0; min-height: 950px; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: -1; }
#background img { left: 0; min-width: 1600px; position: absolute; top: 0; width: 100%; z-index: -2; }

#background .fader { height: 100%; left: 0; position: absolute; width: 100%; z-index: 0; }
.fader, #background .fader { background: url("http://a0.ak.lscdn.net/deals/images/bingy/background-fade.png") repeat-x scroll left bottom transparent; }
.fader { height: 420px; left: 0; position: fixed; width: 100%; z-index: -1; }
.fader, #background .fader { background: url("http://a0.ak.lscdn.net/deals/images/bingy/background-fade.png") repeat-x scroll left bottom transparent; }

/* Topbar */
#header-container { position: fixed; top: 0; left: 0; right: 0; background-color: #262626; }
#header-container, #header-height-fill { height: 70px;}
#header { width: 955px; margin: 0 auto; padding: 10px 0; font-size: 13px; overflow: hidden; }
#logo { float: left; font-weight: bold; font-size: 22px; color: #FFFFFF; letter-spacing: 1px; margin-top: 10px; }

/* Search */
#search { float: right; margin-left: 30px; margin-top: 10px; }
#search form { -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); }
#search input[type="text"] { font-size: 16px; padding: 4px; border: none; }
#search input[type="submit"] { font-size: 16px; padding: 6px; background-color: #E9BA26; border: none; color: #FFFFFF; margin-left: -6px; }

/* User status */
#user-status { color: #FFFFFF; float: right; text-align: right; margin-top: 5px; }
#user-status a, #user-status a:visited { color: #66C3FE; }
#user-status-header { margin-bottom: 5px; color: #8A8A8A; }
#user-status-header a { font-weight: bold; font-size: 13px; }
#start-here { font-size: 12px; font-weight: normal; }
#user-status-menu { font-size: 12px; font-weight: normal; }
#user-status-menu a { padding-left: 5px; margin: 0; }
#user-status-menu a + a { border-left: 1px solid #8A8A8A; margin-left: 5px; }

/* Tripbar */
#trip-bar-container { width: 955px; margin: 0 auto 0 auto; background-color: rgba(38, 38, 38, 0.7); -moz-border-radius: 7px; }
#trip-bar { margin: 10px; padding: 10px 0; }
#trip-bar-title { color: #FFFFFF; display: inline; font-size: 26px; font-weight: bold; padding: 0 20px; }
#trip-bar-pre-title { color:#E9BA26;}

#add-website-to-trip-form { float: right; }

#trip-nav-bar { font-size: 20px; overflow: auto; float:right; }
#trip-nav-bar a { color: #66C3FE; padding: 5px 15px; font-weight: bold; display: block; float: left; margin: 5px 0; }
#trip-nav-bar a + a { border-left: 3px solid #FFF; }

#trip-bar form { margin-top: 10px; }
#trip-bar form input[type="text"] { font-size: 18px; font-weight: bold; color: #666666; width: 360px; padding: 5px; margin-right: 10px; }
#trip-bar form input[type="submit"] { font-size: 18px; font-weight: bold; padding: 5px; border: none; color: #FFFFFF; background-color: #0190E9; }

/* Page Sections */
#content { width: 955px; margin: 10px auto; clear: both; }

#side-container { float: left; width: 220px; margin-top:50px; }
#side-container a { margin-bottom: 10px; background-color: #E9BA26; padding: 10px; display: block; font-weight: bold; color: #000000; font-size: 16px; -moz-border-radius: 4px; }
#main-container { float: left; width: 710px; margin-left: 25px; }

.panel { -moz-border-radius: 6px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); background-color: #FFFFFF; overflow: hidden !important; }
.panel + .panel { margin-top: 10px; }
.panel h2 { color: #262626; font-size: 22px; padding: 10px 10px 0 10px; text-transform: lowercase; }

.panel-title { background-color: #E9BA26; padding: 15px; -moz-border-radius: 5px 5px 0 0; }
.panel-title a { float: right; background-color: #FFFFFF; padding: 5px; display: block; font-weight: bold; font-size: 16px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); -moz-border-radius: 5px; }
.add-to-trip-button { }

.panel-content { padding: 10px; }
.panel-content-not-padded { }

/* Footer */
#footer { width: 955px; height: 200px; }

/* Trip Schedules */
.trip-day { margin-top: 10px; background-color: #DDDDDD; margin-left: 65px; min-height: 25px; padding: 10px; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); }
.trip-day > h3 { padding: 3px 6px; width: 45px; background: #666666; color: #FFF; display: block; margin-left: -75px; margin-top: -25px; -moz-border-radius: 5px; float: left; }
.trip-day-itinerary-item { overflow: auto; }
.trip-day-itinerary-item + .trip-day-itinerary-item { margin-top: 10px; }
.trip-day-itinerary-item + .trip-day-itinerary-item { border-top: 1px solid #DDD; }
.trip-day-itinerary-item-time { }
.trip-day-itinerary-item img { float: left; margin-right: 10px; }
.trip-day-itinerary-item > h4 { color: #666; font-size: 14px; }
.trip-day-body { }

/* Trip Map */
#trip-map-container { width: 100%; height: 500px; }

/* Plan Trip */
#create-trip-form { }
.trip-settings input[name="name"] { width: 400px; }

/* Hotel Details */
#hotel-details-map-container { width: 400px; height: 220px; }
#hotel-details-related-trips { clear: both; }

#hotel-details-photo-list { margin: 10px; white-space: nowrap; overflow: auto; overflow-y: hidden; height: 275px; }
.hotel-photo { margin-right: 10px; -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); }

/* My Trips */
.my-trip-row { display: block; padding: 15px; font-size: 16px; }
.my-trip-row span { font-weight: bold; padding-right: 15px; }
.my-trip-row + .my-trip-row { border-top: 1px dashed #CCCCCC; }

/* Trip Row */
.trip-rows { clear: both; }
.trip-row { font-weight: bold; padding: 5px; overflow: auto; }
.trip-row + .trip-row { border-top: 1px dashed #CCCCCC; }
.trip-row-photo { float: left; }
.trip-row-body { float: left; }
.trip-row-title { font-size: 16px; line-height: 70px; padding: 15px; }


/* Destinations */
#destination-details-map-container{ width:100%; height:200px;}