@{
    ViewBag.Title = "login";
}
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Login</h1>
        </div>
        <div class="panel-content">
            <h1>
                Welcome back!</h1>
            <form method="post">
            <p>
                <label for="email">
                    Email</label>
                <input type="text" id="email" name="email" />
            </p>
            <p>
                <label for="password">
                    Password</label>
                <input type="password" id="password" name="password" />
            </p>
            <input type="submit" value="Log In" />
            </form>
        </div>
    </div>
</div>
