<div id="side-container">
    <a href="@Url.Details((Destination)ViewBag.Destination)">@ViewBag.Destination.ShortName</a>
    <a href="#">Trips</a> <a href="@Url.Hotels((Destination)ViewBag.Destination)">Hotels</a>
</div>
