<div id="side-container">
    <a href="@Url.Details((IDestination)ViewBag.Destination)">@ViewBag.Destination.ShortName</a>
    @if (ViewBag.Destination is City)
    {
        <a href="@Url.Hotels((IDestination)ViewBag.Destination)">Hotels</a>
    }
    <a href="@Url.Activities((IDestination)ViewBag.Destination)">Activities</a>
</div>
