@{
    ViewBag.Title = "Activities near " + ViewBag.Destination.ShortName;
}
@Html.Action("_SidePanel", "destinations", new { ViewBag.Destination })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Activities near @ViewBag.Destination.ShortName</h1>
        </div>
        <div class="panel-content">
            <div class="hotel-rows">
                @foreach (Tag tag in ViewBag.Tags)
                {
                    <div class="hotel-row">
                        <div class="hotel-row-body">
                            @tag.Name
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
