@{
    ViewBag.Title = "Hotels";
}
<div id="side-container">
    <a href="#">map</a> <a href="#">trips</a> <a href="@Url.Hotels((Destination)ViewBag.Destination)">hotels</a>
</div>
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Hotels near @ViewBag.Destination.ShortName</h1>
        </div>
        <div class="panel-content">
            <div id="destination-details-map-container">
            </div>
        </div>
    </div>
</div>
