@{
    ViewBag.Title = "Hotels";
}
@Html.Action("_SidePanel", "destinations", new { ViewBag.Destination })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Hotels near @ViewBag.Destination.ShortName</h1>
        </div>
        <div class="panel-content">
            <div id="destination-details-map-container">
            </div>
        </div>
    </div>
</div>
