@{
    User user = ViewBag.User;
    User currentUser = ViewBag.CurrentUser;
    ViewBag.Title = user.FullName;
    IEnumerable<Trip> trips = user.Trips(currentUser);
}
<div class="panel">
    <div class="panel-title">
        <img src="@user.PhotoURL" alt=""/>
        <h1>
            @ViewBag.Title</h1>
        
    </div>
    <div class="panel-content">
        @if (trips.Any())
        {
            <section>
                <h2>
                    Trips</h2>
                @Html.Action("_rows", "trips", new { trips })
            </section>
        }
    </div>
</div>
