<form id="sign-up">
<p class="name">
    <label for="name">
        Name</label>
    <input type="text" name="name" id="name" />
</p>
<p class="email">
    <label for="email2">
        Email</label>
    <input type="text" name="email" id="email2" />
</p>
<p class="password">
    <label for="password2">
        Create a Password</label>
    <input type="password" name="password" id="password2" />
</p>
<p class="submit">
    <input type="submit" value="Create Account" />
    <a href="/login">I have an account</a>
</p>
</form>
