<nav id="side-container">
    @*<a href="@Url.MyAccount()">Account</a>*@
    <a href="@Url.MyTrips()">My Trips</a>
    <a href="@Url.MySettings()">My Settings</a>
    <a href="/logout">Sign Out</a>
</nav>
