@{
    ViewBag.Title = "My Account";
}
@Html.Action("SidePanel", "My")
<div id="main-container">
    <div class="panel">
        <header>
            <h1>
                My Account</h1>
        </header>
        <div class="panel-content">
            <p>
                Welcome back!</p>
            <p>
                What would you like to do?</p>
            <ul>
                <li>Create a new trip</li>
                <li>Continue planning a trip</li>
                <li>Change your settings</li>
            </ul>
        </div>
    </div>
</div>
