@{
    ViewBag.Title = "My Settings";
}
@Html.Action("SidePanel", "My")
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                My Settings</h1>
        </div>
        <div class="panel-content">
            (settings form goes here)
        </div>
    </div>
</div>
