@{
    ViewBag.Title = "My Settings";
    UserSettingsForm form = (UserSettingsForm)ViewBag.Form;
}
@Html.Action("SidePanel", "My")
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                My Settings</h1>
        </div>
        <div class="panel-content">
            <form id="create-trip-form" action="@Url.MySettings()" method="post">
            <p>
                <label for="email">
                    Email
                </label>
                <input type="text" name="email" value="@form.Email" />
            </p>
            <p>
                <label for="password">
                    Password
                </label>
                <input type="password" name="password" />
            </p>
            <input type="submit" value="Save Settings" />
            </form>
        </div>
    </div>
</div>
