@{
    ViewBag.Title = "My Trips";
    User currentUser = ViewBag.CurrentUser;
    IEnumerable<Trip> trips = currentUser.Trips;
}
@Html.Action("SidePanel", "My")
<div id="main-container">
    <div class="panel">
        <div class="title">
            <h1>
                My Trips</h1>
        </div>
        <div class="subtitle">
            Select a trip below to edit it.
        </div>
        <div class="panel-content not-padded">
            @if (trips.IsNullOrEmpty())
            {
                <div class="none-found">
                    No trips found.
                </div>
            }
            else
            {
                <ul class="my-trip-rows">
                    @foreach (Trip trip in trips.OrderByDescending(t => t.Created_On))
                    {
                        <li class="@(currentUser.DefaultTrip == trip ? "current" : string.Empty)"  ><a href="@Url.SetDefaultTrip(trip)">@trip.Name</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
