@{
    ViewBag.Title = "My Trips";
    IEnumerable<Trip> trips = (IEnumerable<Trip>)ViewBag.User.Trips;
}
@Html.Action("SidePanel", "My")
<div id="main-container">
    <div class="panel">
        <div class="title">
            <h1>
                My Trips</h1>
        </div>
        <div class="subtitle">
            <a href="@Url.CreateTrip()">Create a trip</a>
        </div>
        <div class="panel-content">
            @if (trips.IsNullOrEmpty())
            {
                <div>
                    No trips found!
                </div>
            }
            else
            {
                foreach (Trip trip in trips.OrderByDescending(t => t.Created_On))
                {
                <a  class="my-trip-row" href="@Url.SetDefaultTrip(trip)"><span>Plan</span> @trip.Name</a>
                }
            }
        </div>
    </div>
</div>
