@{
    ViewBag.Title = "My Trips";
    ICollection<Trip> trips = (ICollection<Trip>)ViewBag.User.Trips;
}
@Html.Action("SidePanel", "My")
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <a href="@Url.CreateTrip()">create a trip</a>
            <h1>
                My Trips</h1>
        </div>
        <div class="panel-content">
            @foreach (Trip trip in trips.OrderByDescending(t => t.Created_On))
            {
                <a  class="my-trip-row" href="@Url.SetDefaultTrip(trip)"><span>Plan</span> @trip.Name</a>
            }
        </div>
    </div>
</div>
