@{
    ViewBag.Title = "Attribution";
}
<div class="panel">
    <header>
        <h1>
            @ViewBag.Title
        </h1>
    </header>
    <div class="panel-content">
        Background image: CC from <a href="http://www.flickr.com/photos/34022876@N06/6873017519/">kansasphoto</a>
    </div>
</div>
