@{
    ViewBag.Title = "Welcome to Triptitude!";
    ViewBag.HideTripBar = true;
}
<style type="text/css">
    #landing-page-panel { width: 955px; margin: 100px auto 0 auto; background-color: rgba(255, 255, 255, 0.7); -moz-border-radius: 7px; padding: 20px; }
    #landing-page-panel h1 { font-size: 35px; }
</style>
<div id="landing-page-panel">
    <h1>
        We'll help you plan your next trip.
    </h1>
    <h2>
        It's easy to find hotels and flights online. It's not so easy to plan your itinerary
        and map your activities.</h2>
    <p>
        Triptitude helps by</p>
    <ul>
        <li>Showing trips others have planned. When you see examples of what others are doing,
            you'll get inspired.</li>
        <li></li>
    </ul>
</div>
