@{
    ViewBag.Title = "Plan your trip, with Triptitude.com";
    ViewBag.Description = "Easily create a custom travel itinerary. We'll suggest hotels and activities along the way.";
}
<div id="landing-page-panel-container">
    <div id="landing-page-panel">
        <h1>
            We'll help you plan your next trip
        </h1>
        <form action="@Url.CreateTrip()" method="post" id="start-here-form">
        <h3>
            Try it out:</h3>
        <input type="text" name="name" placeholder="Name your trip..." />
        <input type="text" name="destinationname" data-hidden-field-name="destinationid" class="destination-autocomplete" placeholder="Where are you going?" />
        <input type="hidden" id="destinationid" name="destinationid" />
        <input type="submit" value="Start Planning >" />
        </form>
        <h2>
            Organize your travel plans from start to finish</h2>
        <p>
            Planning a vacation isn't easy. You can book flights and hotels almost anywhere, but how do figure out what to do in the first place? And how do you keep track of it all? The answer: <strong>Triptitude</strong></p>
        <ul>
            <li><strong>Search trips</strong> others have planned and <strong>be inspired</strong>.</li>
            <li><strong>Create</strong> an itinerary or <strong>customize</strong> one.</li>
            <li><strong>Plan </strong>before you book to <strong>optimize</strong> your pleasure.</li>
            <li><strong>Print your itinerary</strong>, maps, and notes for stress-free travel.</li>
        </ul>
        <div id="landing-steps">
            <div class="landing-step">
                1</div>
            <div class="landing-step">
                2</div>
            <div class="landing-step">
                3</div>
        </div>
    </div>
</div>
