@{
    ViewBag.Title = "We'll help you plan your next trip - Triptitude.com";
    ViewBag.HideTripBar = true;
}
<style type="text/css">
    #landing-page-panel-container { width: 955px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.85); -moz-border-radius: 7px; }
    #landing-page-panel { margin: 10px 20px; padding: 20px 0; }
    #landing-page-panel h1 { font-size: 40px; margin-bottom: 30px; color: #0190E9; }
    #landing-page-panel h2 { font-size: 22px; margin-bottom: 10px; margin-top: 20px; }
    #landing-page-panel p { color: #333; font-size: 14px; line-height: 1.5; margin: 0; }
    #landing-page-panel #start-here-form { float: right; background-color: rgba(0, 130, 210, 0.5); padding: 20px; margin: 0 0 20px 20px; -moz-box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.8); }
    #landing-page-panel #start-here-form input { display: block; width: 300px; margin: 0 auto 10px auto; }
    #landing-page-panel #start-here-form input[type="submit"] { margin: 20px auto 0 auto; width: 200px; }
    #landing-page-panel #start-here-form h3 { font-size: 18px; margin-bottom: 15px; }
    #landing-page-panel ul { margin: 30px 0 0 20px; }
    #landing-page-panel ul li { font-size: 16px; margin: 10px 0; }
    #landing-page-panel #landing-steps { clear: both; overflow: auto; border-top: 1px dashed #CCC; padding-top: 20px; }
    #landing-page-panel .landing-step { float: left; padding: 10px; background-color: #E9BA26; margin-left: 180px; height: 40px; width: 40px; -moz-border-radius: 40px; line-height: 40px; text-align: center; color: #FFF; font-weight: bold; font-size: 30px; }
</style>
<div id="landing-page-panel-container">
    <div id="landing-page-panel">
        <h1>
            We'll help you plan your next trip
        </h1>
        <form action="" id="start-here-form">
        <h3>
            Start here</h3>
        <input type="text" name="email" placeholder="Your email address..." />
        <input type="text" name="tripname" placeholder="Name your trip..." />
        <input type="text" name="destination" placeholder="Where do you want to go?" />
        <input type="submit" value="Start Planning >" />
        </form>
        <h2>
            Organize your trip from start to finish</h2>
        <p>
            Planning a vacation isn't easy. You can book flights and hotels almost anywhere,
            but how do figure out what to do in the first place? And how do you keep track of
            your plans and ideas? The answer: <strong>Triptitude</strong></p>
        <ul>
            <li><strong>Get inspired</strong> by viewing trips that others have planned.</li>
            <li><strong>Create</strong> an itinerary or <strong>customize</strong> someone else's.</li>
            <li><strong>Compare</strong> your itineraries and <strong>optimize</strong> your pleasure.</li>
            <li><strong>Print your itinerary</strong>, maps, and notes for stress-free travel.</li>
        </ul>
        <div id="landing-steps">
            <div class="landing-step">
                1</div>
            <div class="landing-step">
                2</div>
            <div class="landing-step">
                3</div>
        </div>
    </div>
</div>
