@{
    ViewBag.Title = "We'll help you plan your next trip - Triptitude.com";
    ViewBag.HideTripBar = true;
}
<div id="landing-page-panel-container">
    <div id="landing-page-panel">
        <h1>
            We'll help you plan your next trip
        </h1>
        <form action="" id="start-here-form">
        <h3>
            Start here</h3>
        <input type="text" name="email" placeholder="Your email address..." />
        <input type="text" name="tripname" placeholder="Name your trip..." />
        <input type="text" name="destination" class="destination-autocomplete" placeholder="Where do you want to go?" />
        <input type="hidden" name="destinationid" />
        <input type="submit" value="Start Planning >" />
        </form>
        <h2>
            Organize your travel plans from start to finish</h2>
        <p>
            Planning a vacation isn't easy. You can book flights and hotels almost anywhere,
            but how do figure out what to do in the first place? And how do you keep track of
            your plans and ideas? The answer: <strong>Triptitude</strong></p>
        <ul>
            <li><strong>Get inspired</strong> by viewing trips that others have planned.</li>
            <li><strong>Create</strong> an itinerary or <strong>customize</strong> someone else's.</li>
            <li><strong>Compare</strong> your itineraries and <strong>optimize</strong> your pleasure.</li>
            <li><strong>Print your itinerary</strong>, maps, and notes for stress-free travel.</li>
        </ul>
        <div id="landing-steps">
            <div class="landing-step">
                1</div>
            <div class="landing-step">
                2</div>
            <div class="landing-step">
                3</div>
        </div>
    </div>
</div>
