@{
    ViewBag.Title = "Plan your trip, with Triptitude.com";
    ViewBag.Description = "Easily create a custom travel itinerary. We'll suggest hotels and activities along the way.";
    IEnumerable<Trip> trips = (IEnumerable<Trip>)ViewBag.Trips;
}
<div id="landing-page-panel-container">
    <div id="landing-page-panel">
        <h1>
            Planning a trip is a pain. We make it easier.
        </h1>
        <form action="@Url.CreateTrip()" method="post" id="create-trip-form">
        @Html.AntiForgeryToken()
        <h3>
            Get Started:</h3>
        <p>
            <input type="text" name="toname" data-goog-reference-field="togoogreference" data-goog-id-field="togoogid" data-auto-submit="true" class="place-autocomplete" placeholder="Destination" />
            <input type="hidden" name="togoogreference" />
            <input type="hidden" name="togoogid" />
        </p>
        <p>
            <input type="submit" value="Start Planning >" />
        </p>
        </form>
        <p>
            You need a vacation. You <em>deserve</em> a vacation. You've <em>earned</em> a vacation, but planning the trip of your dreams isn't easy. Between flights and hotels, packing lists and activities, how do you keep everything straight? Triptitude can help you keep it all organized, so when it's finally time to go, you can relax and enjoy the ride.
        </p>
        <h2>
            Organize your travel plans from start to finish</h2>
        <ul>
            <li><strong>Search trips</strong> others have planned and get inspired.</li>
            <li>Create an <strong>itinerary</strong> or customize one.</li>
            <li>Create a <strong>packing list </strong>so you don't forget anything.</li>
            @*<li><strong>Print your itinerary</strong>, maps, packing list, and notes for stress-free travel.</li>*@
        </ul>
        @if (trips != null && trips.Any())
        {
            <div id="trips">
                <div class="panel-title">
                    <h2>
                        Recent Trips</h2>
                </div>
                @Html.Action("_rows", "trips", new { trips })
            </div>
        }
    </div>
</div>
