@{
    ViewBag.Title = "Signup";
    ViewBag.HideTripBar = true;
}
<div id="landing-page-panel-container">
    <div id="landing-page-panel">
        <h1>
            Thanks for signing up for early access!
        </h1>
        <h2>
            We aren't quite ready, but we'll email you when we are.
        </h2>
    </div>
</div>
