<div id="working-on-it">
    <div class="title">
        You don't own this trip!
    </div>
    <p>
        Soon you'll be able to copy this trip and customize it.
    </p>
    <p>
        Until then, you'll have to <a href="@Url.CreateTrip()">create your trip manually.</a>
    </p>
    <p class="buttons">
        <input type="button" value="Close" class="cancel" />
    </p>
</div>
