@{
    ViewBag.Title = "Trip Settings";
}
<h2>
    Settings</h2>
<form action="@Url.Settings((Trip)ViewBag.Trip)" method="post" class="trip-settings">
<p>
    <label for="name">
        Name</label>
    <input type="text" name="name" value="@ViewBag.Trip.Name" />
</p>
<input type="submit" value="Save Trip Settings" />
</form>
