@{
    Trip trip = ViewBag.Trip;
    BaseItemPhoto photo = trip.Photos.FirstOrDefault();
}
<div class="trip-row">
    <img class="trip-row-photo" alt="" src="@photo.ThumbURL" height="70" width="70" />
    <div class="trip-row-body">
        <a class="trip-row-title" href="@Url.PublicDetails(trip)">@trip.Name</a>
    </div>
</div>
