<div id="side-container">
    <a href="@Url.PlanItinerary((Trip)ViewBag.Trip)">itinerary</a> <a href="@Url.Map((Trip)ViewBag.Trip)">
        map</a> <a href="#">suggestions</a> <a href="#">similar trips</a>
</div>
