@{
    Trip trip = (Trip)ViewBag.Trip;
}
<div id="side-container">
    <a href="@Url.Details(trip)">Itinerary</a> <a href="@Url.Map(trip)">Map</a> <a href="@Url.PackingList(trip)">Packing List</a>
    @if (ViewBag.UserOwnsTrip)
    {
        <a id="trip-settings-link" href="@Url.Settings(trip)">Settings</a>
    }
</div>
