@{
    Trip trip = ViewBag.Trip;
    ViewBag.Title = trip.Name;
    ViewBag.ShowInSiteMap = @trip.ShowInSearch;
    User currentUser = ViewBag.CurrentUser;
    bool CurrentUserOwnsTrip = currentUser.OwnsTrips(trip);
    bool Editing = currentUser.DefaultTrip == trip;
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        $(function () {
            var tripId = $('#trip-map-container').data('trip-id');
            $.get('/maps/trip/' + tripId, function (mapData) {
                drawMap($('#trip-map-container'), mapData);
            });

            $('.toggler').click(function () {
                var selectorToToggle = $(this).data('selector-to-toggle');
                $(selectorToToggle).toggle();
            });

            $('.packing-list-tags.fluid').masonry({
                itemSelector: '.packing-list-tag'
            });
        });
    </script>
}
<article class="@(Editing ? "editing" : string.Empty)">
    <header>
        <h1>@trip.Name</h1>
        <div class="subtitle">
            <a href="#map">Map</a> | <a href="#itinerary">Itinerary</a> | <a href="#packinglist">Packing List</a>
        </div>
    </header>
    <section id="map">
        <h2>
            Map</h2>
        <div id="trip-map-container" data-trip-id="@trip.Id">
        </div>
    </section>
    <section id="itinerary">
        <header>
            <h2>
                Itinerary</h2>
            @if (currentUser.DefaultTrip == trip)
            {
                <div class="subtitle">
                    Use the <strong>+Add Plans</strong> menu to add items to your itinerary.
                </div>
            }
        </header>
        <div class="activities">
            @for (int i = 1; i <= trip.TotalDays; i++)
            {
                Html.RenderAction("daydetails", "trips", new { trip, dayNumber = i });
            }
            @if (trip.Activities.Any(a => a.IsUnscheduled))
            {
                Html.RenderAction("daydetails", "trips", new { trip, dayNumber = -1 });
            }
        </div>
    </section>
    <section id="packinglist">
        @{
            Html.RenderAction("packinglistpartial", "trips", new { trip.Id, currentUser });
        }
    </section>
</article>
