@{
    Trip trip = ViewBag.Trip;
    ViewBag.Title = trip.Name + " - Itinerary";
    ViewBag.ShowInSiteMap = @trip.ShowInSiteMap;
}
@section Scripts {
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            var tripId = $('#trip-map-container').attr('data-trip-id');
            $.get('/maps/trip/' + tripId, function (mapData) {
                drawMap($('#trip-map-container'), mapData);
            });
        });

    </script>
}
@Html.Action("SidePanel", "Trips", new { trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                @ViewBag.Title
            </h1>
        </div>
        <div class="panel-content">
            <div id="trip-map-container" data-trip-id="@trip.Id">
            </div>
            @for (int i = 1; i <= trip.TotalDays; i++)
            {
                Html.RenderAction("daydetails", "trips", new { trip, dayNumber = i });
            }
        </div>
    </div>
</div>
