@{
    Trip trip = ViewBag.Trip;
    ViewBag.Title = trip.Name + " - Itinerary";
    ViewBag.ShowInSiteMap = @trip.ShowInSearch;
    User currentUser = ViewBag.CurrentUser;
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        $(function () {
            var tripId = $('#trip-map-container').data('trip-id');
            $.get('/maps/trip/' + tripId, function (mapData) {
                drawMap($('#trip-map-container'), mapData);
            });

            $('.toggler').click(function () {
                var selectorToToggle = $(this).data('selector-to-toggle');
                $(selectorToToggle).toggle();
            });
        });
    </script>
}
<article>
    <header>
        <h1>@trip.Name</h1>
        <div class="subtitle">
        <a href="#map">Map</a> | 
        <a href="#itinerary">Itinerary</a> | 
        <a href="#packinglist">Packing List</a>
        </div>
    </header>
    <section id="map">
        <h2>
            Map</h2>
        <div id="trip-map-container" data-trip-id="@trip.Id">
        </div>
    </section>
    <section id="itinerary">
        <h2>
            Itinerary</h2>
        @if (currentUser.DefaultTrip == trip)
        {
            <div class="subtitle">
                Use the <strong>+Add Plans</strong> menu to add items to your itinerary.
            </div>
        }
        @for (int i = 1; i <= trip.TotalDays; i++)
        {
            Html.RenderAction("daydetails", "trips", new { trip, dayNumber = i });

        }
        @if (trip.Activities.Any(a => a.IsUnscheduled))
        {
            Html.RenderAction("daydetails", "trips", new { trip, dayNumber = -1 });
        }
    </section>
    <section id="packinglist">
        <h2>
            Packing List</h2>
        @{
            Html.RenderAction("packinglistpartial", "trips", new { trip.Id, currentUser });
        }
    </section>
</article>
