@{
    ViewBag.Title = @ViewBag.Trip.Name;
}
@Html.Action("SidePanel", "Trips", new { ViewBag.Trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Itinerary</h1>
        </div>
        <div class="panel-content">
            @for (int i = 1; i <= ViewBag.NumberDays; i++)
            {
                Html.RenderAction("daydetails", "trips", new { trip = (Trip)ViewBag.Trip, dayNumber = i });
            }
        </div>
    </div>
</div>
