@{
    Trip trip = ViewBag.Trip;
    const string pageName = "Activity Stream";
    ViewBag.Title = trip.Name + " - " + pageName;
    User currentUser = ViewBag.CurrentUser;
}
@if (ViewBag.CurrentUser.OwnsTrips(trip))
{
    @Html.Action("SidePanel", "Trips", new { trip })
}
<div class="panel">
    <header>
        <h1>
            @(currentUser.DefaultTrip == trip ? pageName : ViewBag.Title)
        </h1>
    </header>
    <div class="panel-content">
        <ol class="histories timeline">
            @foreach (var h in trip.Histories.OrderByDescending(h => h.Id))
            {
                <li class="history">
                    @h.ToString(ViewBag.CurrentUser)
                </li>
            }
        </ol>
    </div>
</div>
