@{
    Trip trip = ViewBag.Trip;
    ViewBag.Title = trip.Name + " - History";
}
<div class="panel">
    <header>
        <h1>
            @ViewBag.Title</h1>
    </header>
    <div class="panel-content">
        <div class="histories timeline">
            @foreach (var h in trip.Histories.OrderByDescending(h => h.Id))
            {
                <div class="history">
                    @h.ToString()
                </div>
            }
        </div>
    </div>
</div>
