@{
    ViewBag.Title = "Trips";
    TripSearchForm form = ViewBag.TripSearchForm;
}
<div class="panel">
    <header>
        <h1>
            Trips</h1>
    </header>
    <div class="panel-content">
        @*@Helpers.TripSearchForm(form)*@
        @Html.Action("SearchResults", "Trips", new { form = form })
    </div>
</div>
