@{
    ViewBag.Title = "Trips";
}


    <div class="panel">
        <div class="panel-title">
            <h1>
                Trips</h1>
        </div>
        <div class="panel-content">
            @Html.Action("_rows", "trips", new { ViewBag.Trips })
        </div>
    </div>
