@{
    ViewBag.Title = "Map of " + @ViewBag.Trip.Name;
}
@section Scripts {
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            $('#trip-map-container').each(function () {
                drawMap($(this));
            });
        });

    </script>
}
@Html.Action("SidePanel", "Trips", new { ViewBag.Trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>@ViewBag.Trip.Name
                </h1>
        </div>
        <div class="panel-content">
            <div id="trip-map-container" data-trip-id="@ViewBag.Trip.Id">
            </div>
        </div>
    </div>
</div>
