@{
    ViewBag.Title = "Blogs";
}
<article>
    <header>
        <h1>
            Blogs</h1>
    </header>
    <section>
        <ul>
            <li><a href="@Url.BlogsCategory("tech")">Tech</a></li>
        </ul>
    </section>
</article>