@{
    ViewBag.Title = "Admin Index";
}
<h1>
    Admin Home</h1>
<h2>
    <a href="@Url.Admin("trips")">Trips</a></h2>
<h2>
    <a href="@Url.Admin("tags")">Tags</a></h2>
<h2>
    <a href="@Url.Admin("itemtags")">ItemTags</a></h2>
