@{
    ViewBag.Title = "Admin Index";
}
<h1>
    Admin</h1>
<ul>
    <li><a href="@Url.Admin("trips", "index")">Trips</a> </li>
    <li><a href="@Url.Admin("tags", "index")">Tags</a> </li>
</ul>
