@{
    ViewBag.Title = "Admin Index";
}
<h1>
    Admin</h1>
<ul>
    <li><a href="@Url.Admin("trips")">Trips</a> </li>
    <li><a href="@Url.Admin("tags")">Tags</a> </li>
    <li><a href="@Url.Admin("itemtags")">ItemTags</a> </li>
</ul>
