@model Triptitude.Biz.Models.Tag
@{
    ViewBag.Title = "Create Tag";
}
<h1>@ViewBag.Title</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        <input class="focus" type="text" name="name" />
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}