@{
    IEnumerable<Tag> tags = ViewBag.Tags;
}
<h1>
    Tags</h1>
<h2>
    Create</h2>
@AdminHelpers.CreateTag(Url)
<h2>
    List</h2>
@AdminHelpers.TagTable(Url, tags.OrderBy(t => t.Name))
