@{
    IEnumerable<Tag> tags = ViewBag.Tags;
}
<h1>
    Tags</h1>
<h2>
    Create</h2>
@AdminHelpers.CreateTag(Url)
<h2>
    Not Moderated</h2>
@AdminHelpers.TagTable(Url, tags.Where(t => !t.ModeratedOnUTC.HasValue).OrderBy(t => t.Id))
<h2>
    Recently Moderated</h2>
@AdminHelpers.TagTable(Url, tags.Where(t => t.ModeratedOnUTC.HasValue).OrderByDescending(t => t.ModeratedOnUTC))
