@{
    UserTrip userTrip = ViewBag.UserTrip;
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<p>
    @userTrip.Guid
</p>
<p>
    @userTrip.User.FullName
</p>
<p>
    @userTrip.Trip.Name
</p>
<form action="/i/@userTrip.Guid" method="POST">
<input type="submit" value="Confirm" />
</form>
