<header>
    <h1>
        Log in to Triptitude</h1>
</header>
<form id="sign-in" class="sign-in-form" method="POST">
<p>
    <label for="email1">
        Email</label>
    <input type="text" name="email" id="email1" />
</p>
<p>
    <label for="password1">
        Password</label>
    <input type="password" name="password" id="password1" value="" />
</p>
<p class="submit">
    <input type="submit" value="Log In" class="button blue medium" />
    <a class="forgot-pass" href="/forgotpass">forgot password</a>
</p>
</form>
